@media only screen and (max-width: 1100px) {
  .daily-quest{
    .header-container{
      padding-top: 80px;
      background-image: none!important;
      height: 300px!important;

      .header-text{
        height: 300px!important;
        background-image: url("../../assets/images/waveLeft/backgroundTopLeft.svg"), url("../../assets/images/waveRight/backgroundBottomRight.svg");
        background-repeat: no-repeat;
        background-position: top left, bottom right;
        background-size: 50%;

        h1{
          padding: 20px!important;
          font-size: 27px!important;
        }
      }
    }

    .daily-quest-info{
      h2{
        font-size: 25px!important;
      }
      .countdown{
        font-size: 25px!important;
      }
      .info-description{
        font-size: 15px!important;
      }
      h3{
        font-size: 17px!important;
      }

    }

    .daily-quest-map{
      width: 100%!important;
      margin-bottom: 0!important;
    }

    button{
      padding: 8px 20px!important;
      font-size: 15px!important;
    }
  }
}
