.premium {

  .premium-header{
    width: 100%;
    height: 500px;
    background-color: var(--background-light-green);
    background-image: url("../../assets/images/waveLeft/backgroundTopLeft.svg"), url("../../assets/images/waveRight/backgroundBottomRight.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 35%;
  }

  .premium-footer{
    height: 300px;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    background-color: var(--background-light-green);
    background-image: url("../../assets/images/waveRight/backgroundTopRight.svg"), url("../../assets/images/waveLeft/backgroundBottomLeft.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top right, bottom left;
  }

  .oblique-image-bottom{
    display: block;
    margin-right: -5px;
    margin-top: -2px;
    background-color: #3FB8AF!important;
    position: relative;
    background-image: url("../../assets/images/obliqueBottom.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .oblique-image-top{
    display: block;
    margin-bottom: -1px;
    margin-left: -5px;
  }

  .header-text{
    text-align: center;
    vertical-align: middle;
    width: 100vw;
    height: 500px;
    display: table-cell;
  }

  .premium-content{
    overflow-x: hidden;
  }

  .premium-container-white{
    height: 400px;
    width: 100%;
    display: table;

    .container-image{
      background-position: right;
    }
    .container-info{
      text-align: left;
      padding-right: 30px;
      padding-left: 10%;
    }
  }
  .premium-container-green{
    height: 400px;
    background-color: var(--background-light-green);
    width: 100%;
    display: table;

    .container-image{
      background-position: left;
    }
    .container-info{
      text-align: right;
      padding-left: 30px;
      padding-right: 10%;
    }
  }

  .container-image{
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .premium1{
    background-image: url("../../assets/images/PremiumImages/premium1.svg");
  }
  .premium2{
    background-image: url("../../assets/images/PremiumImages/premium2.svg");
  }
  .premium3{
    background-image: url("../../assets/images/PremiumImages/premium3.svg");
  }

  .container-info{
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    .info-text{
      padding-top: 20px;
      font-family: OpenSansText;
    }
  }

  h1{
    margin: 0;
    font-family: Nexa;
    font-weight: bold;
    padding: 50px;
    font-size: 50px;
    letter-spacing: 0.8px;
    color: var(--light-mode-dark-green);
  }
  h2{
    margin: 0;
    font-family: Nexa;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 0.8px;
    color: var(--light-mode-dark-green);
  }
  button{
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 50px;
    padding: 8px 4vw;
    border: none;
    cursor: pointer;
    color: white;
    font-family: OpenSans;
    font-weight: normal;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, var(--button-light-green), var(--button-dark-green), var(--button-dark-green), var(--button-light-green));
    box-shadow: 0 4px 15px 0 rgba(49, 196, 149, 0.75);
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}
