.profile{

  .profile-list-container{
    width: 100%;
    height: 100%;
  }

  .profile-list{
    margin-top: -30px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height: 230px;
    max-width: 1700px;
    border-top: 1px solid var(--light-mode-input-backgroud);
    border-left: 1px solid var(--light-mode-input-backgroud);
    border-right: 1px solid var(--light-mode-input-backgroud);

    .badges-container{
      width: 100%;

      .oblique-top{
        background-image: url("../../assets/images/obliqueTopSmall.svg");
        background-repeat: no-repeat;
        background-size: 99% 100%;
        display: block;
        margin-bottom: -1px;
      }
      .oblique-bottom{
        background-image: url("../../assets/images/obliqueBottomSmall.svg");
        background-repeat: no-repeat;
        background-size: 99% 100%;
        background-position: top right;
        display: block;
        margin-top: -1px;
      }

      .badges-title{
        background: var(--background-light-green);
        font-family: Nexa;
        font-weight: bold;
        font-size: 17px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: var(--light-mode-dark-green);
        padding-left: 30px;
        padding-bottom: 10px;
      }

      .badges{
        width: 100%;
        height: 110px;
        padding-bottom: 20px;
        background: var(--background-light-green);

        .badge-arrow-left{
          padding-left: 15px;
          width: 50px;
          display: inline-block;
          vertical-align: bottom;
          padding-bottom: 30px;
          img{
            width: 50px;
            cursor: pointer;
          }
        }
        .badge-arrow-right{
          padding-right: 15px;
          width: 50px;
          display: inline-block;
          vertical-align: bottom;
          padding-bottom: 30px;
          img{
            width: 50px;
            cursor: pointer;
          }
        }

        .badge-item-container{
          width: calc(100% - 130px);
          display: inline-block;
          vertical-align: middle;
          overflow-x: scroll;
          white-space: nowrap;
          -ms-overflow-style: none;
          scrollbar-width: none;
          text-align: center;

          .badge-item-container::-webkit-scrollbar{
            display: none;
          }

          .badge-item{
            margin-right: 15px;
            margin-left: 15px;
            display: inline-block;
            img{
              width: 110px;
            }
          }
        }
      }
    }

    .report{
      height: 18px;
      padding-top: 4px;
      width: calc(100% - 20px);
      margin-right: 30px;
      text-align: right;
      img{
        width: 18px;
        cursor: pointer;
        height: 18px;
      }
    }

    .heat-map{
      padding-top: 10px;

      .heat-map-title{
        border-top: 1px solid var(--light-mode-input-backgroud);
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: Nexa;
        font-weight: bold;
        font-size: 17px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: var(--light-mode-dark-green);
        padding-left: 30px;
        padding-right: 30px;
      }

    }

    .about{
      padding-bottom: 20px;
      .about-title{
        font-family: Nexa;
        font-weight: bold;
        font-size: 17px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: var(--light-mode-dark-green);
        padding-left: 30px;
        padding-bottom: 10px;
      }

      .heat-map{
        margin-top: 20px;
        margin-bottom: 10px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
      }

      .about-text{
        padding-left: 50px;
        padding-right: 50px;
        font-family: OpenSansText;
        font-size: 15px;
        letter-spacing: 0.1px;
      }
    }
  }
}
