.profile{
  .profile-list{
    background: white;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1700px;
    border: 1px solid var(--light-mode-input-backgroud);

    .badges-container{
      width: 100%;

      .oblique-top{
        width: 100%;
        margin-bottom: -4px;
      }

      .badges-title{
        background: var(--background-light-green);
        font-family: Nexa;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: var(--light-mode-dark-green);
        padding-left: 30px;
        padding-bottom: 10px;
      }

      .badges{
        width: 100%;
        height: 110px;
        padding-bottom: 20px;
        background: var(--background-light-green);

        .badge-arrow-left{
          padding-left: 15px;
          width: 50px;
          display: inline-block;
          vertical-align: bottom;
          padding-bottom: 30px;
          img{
            width: 50px;
            cursor: pointer;
          }
        }
        .badge-arrow-right{
          padding-right: 15px;
          width: 50px;
          display: inline-block;
          vertical-align: bottom;
          padding-bottom: 30px;
          img{
            width: 50px;
            cursor: pointer;
          }
        }

        .badge-item-container{
          width: calc(100% - 130px);
          display: inline-block;
          vertical-align: middle;
          overflow-x: scroll;
          white-space: nowrap;
          -ms-overflow-style: none;
          scrollbar-width: none;
          text-align: center;

          .badge-item-container::-webkit-scrollbar{
            display: none;
          }

          .badge-item{
            margin-right: 15px;
            margin-left: 15px;
            display: inline-block;
            img{
              width: 110px;
            }
          }
        }
      }
    }

    .heat-map{




      .heat-map-title{
        padding-top: 20px;
        padding-bottom: 10px;
        font-family: Nexa;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: var(--light-mode-dark-green);
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
      }

    }

    .about{
      margin-top: 20px;
      margin-bottom: 20px;
      .about-title{
        font-family: Nexa;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: var(--light-mode-dark-green);
        padding-left: 30px;

        padding-bottom: 10px;
      }

      .heat-map{
        margin-top: 20px;
        margin-bottom: 10px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
      }

      .about-text{
        font-family: OpenSansText;
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }
}
