.profile{
  width: 100%;

  .header{
    width: 100%;
    height: 400px;
    background: var(--background-light-green);

    .header-main{
      width: 100%;
      height: 100%;
      display: table;

      .header-title{
        padding-left: 30px;
        background-image: url("../../assets/images/waveLeft/backgroundTopLeft.svg");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 50%;
        vertical-align: middle;
        width: 55%;
        height: 400px;
        display: table-cell;

        .header-user{
          width: 80%;
          padding-top: 50px;
          height: 290px;
          margin-left: auto;
          text-align: center;
          float: left;

          .user-info{
            width: border-box;
            float: right;
          }

          .user-image{
            text-align: center;
            padding-bottom: 5px;
            padding-top: 70px;
            img{
              width: 90px;
              height: 90px;
              border-radius: 50%;
            }
          }

          .user-nick{
            text-align: center;
            font-size: 32px;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: Nexa;
            color: var(--light-mode-dark-green);
          }
        }

        .header-create-date{
          font-family: Nexa;
          padding-left: 20px;
          font-weight: normal;
          display: table;
          width: 95%;
          font-size: 14px;
          color: var(--light-mode-gray-text);
          letter-spacing: 0.2px;
          padding-bottom: 40px;
        }
      }

      .header-list{
        background-image: url("../../assets/images/waveRight/backgroundBottomRight.svg");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 70%;
        vertical-align: middle;
        width: 45%;
        display: table-cell;

        .list-item{
          margin-left: 10%;
          width: 50%;
          max-width: 250px;
          border: 1px solid var(--light-mode-input-backgroud);
          min-width: 190px;
          margin-bottom: 10px;
          border-radius: 20px;
          background: white;
          padding: 10px;

          .item-text{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
            font-family: OpenSans;
            font-size: 15px;
            display: table-cell;
            vertical-align: middle;
          }
          .item-image{
            width: 20px;
            display: table-cell;
            padding-right: 10px;

            img{
              vertical-align: middle;
              width: 20px;
              height: 20px;
            }
          }


        }


      }
    }
  }
}
