@media only screen and (max-width: 1100px) {
  .profile{
    .header{
      .header-main{
        display: block;
        padding-top: 80px;
        background-image: url("../../assets/images/waveRight/backgroundTopRight.svg"), url("../../assets/images/waveLeft/backgroundBottomLeft.svg");
        background-position: 100% 80px, 0 calc(100% - 80px);
        background-repeat: no-repeat;
        background-size: 45%, 45%;

        .header-title{
          display: block;
          width: 100%;
          text-align: center;
          padding-left: 0;
          background-size: 60%;
          height: auto;
          background-image: none;

          .header-user{
            width: 100%;
            padding-top: 0;
            height: auto;
            float: none;
            text-align: center;

            .user-info{
              width: 100%;
              float: none;
            }

            .user-image{
              text-align: center;
              padding-bottom: 0;
              padding-top: 10px;
              img{
                width: 50px;
                height: 50px;
              }
            }

            .user-nick{
              padding-bottom: 10px;
              font-size: 20px;
            }
          }

          .header-create-date{
            text-align: left;
            padding-left: 10px;
            display: block;
            width: calc(100% - 10px);
            font-size: 13px;
            color: var(--light-mode-gray-text);
            letter-spacing: 0.2px;
            padding-bottom: 10px;
          }

        }

        .header-list{
          display: block;
          background: none;
          width: 100%;

          .list-item{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            max-width: 180px;
            min-width: 180px;
            padding: 7px;

            .item-text{
              font-size: 13px;
            }

            .item-image{
              width: 15px;
              padding-right: 7px;

              img{
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
    }

    .profile-list{
      margin-top: 0;
      width: calc(100% - 2px);
      border-left: none;
      border-right: none;

      .report{
        height: 15px;
        padding-top: 4px;
        width: calc(100% - 10px);
        img{
          width: 15px;
          height: 15px;
        }
      }

      .about{
        .about-title{
          font-size: 15px;
          padding-left: 20px;
          padding-bottom: 7px;
        }

        .heat-map{
          width: 98%;

          .heat-map-title{
            font-size: 15px;
          }

        }

        .about-text{
          padding-left: 30px;
          padding-right: 30px;
          font-size: 13px;
        }
      }

      .badges-container{
        width: calc(100% + 1px);
        .badges-title{
          font-size: 15px;
          padding-left: 20px;
        }

        .badges{
          height: 70px;

          .badge-arrow-left{
            padding-left: 10px;
            width: 30px;
            padding-bottom: 20px;
            img{
              width: 30px;
            }
          }
          .badge-arrow-right{
            padding-right: 10px;
            width: 30px;
            padding-bottom: 20px;
            img{
              width: 30px;
            }
          }

          .badge-item-container{
            width: calc(100% - 80px);
          }

          .badge-item{
            margin-right: 15px;
            margin-left: 15px;
            display: inline-block;
            img{
              width: 70px!important;
            }
          }

        }
      }
    }

    .profile-quest{
      width: calc(100% - 2px);
      border-left: none;
      border-right: none;

      .profile-quest-navigation{
        width: 100%;

        .selected{
          padding: 6px!important;
        }

        .profile-quest-navigation-item{
          margin-left: 5px;
          margin-right: 5px;
          padding: 4px;
          margin-bottom: 5px;

          .item-name{
            font-size: 14px;
          }
        }

      }

      .profile-quest-item{
        margin-top: 20px;
        width: 96%;

        .item-header{
          .title-img{
            padding-left: 10px;
            padding-right: 10px;
            width: 30px;

            img{
              width: 30px;
              height: 30px;
            }
          }
          .title-name{
            a{
              font-size: 13px;
            }
          }
          .title-arrow{
            padding-left: 10px;
            padding-right: 10px;
            width: 15px;

            img{
              width: 15px;
              height: 15px;
            }
          }
        }

        .item-main{
          min-height: 300px;

          .main-map{
            display: block;
            height: 200px;

          }
          .main-stages{
            padding: 10px;
            display: block;

            .stage-item{
              margin-right: auto;
              margin-left: auto;
              min-width: 180px;
              max-width: 180px;
              margin-bottom: 7px;

              .stage-item-image{
                padding: 7px;
                display: table-cell;
                vertical-align: middle;
                img{
                  vertical-align: middle;
                  width: 15px;
                  height: 15px;
                }
              }

              .stage-item-name{
                font-size: 13px;
              }
            }
          }
        }
      }

      .no-data{
        width: 90%;
        margin-top: 30px;

        .title{
          font-size: 17px;
        }

        img{
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
