@media only screen and (max-width: 1100px) {
  .adminPaymentContainer{
    margin-top: 80px;
  }
}

.adminPayment {
  display: block;
  width: 100%;
  height: 100%;

  .adminPaymentContainer {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    height: max-content;

    margin-left: -1px;
    border-left: 1px solid var(--light-mode-input-backgroud);

    .adminPaymentInput{
      width: 100%;
      padding-top: 50px;

      .title{
        font-family: Nexa;
        font-weight: bold;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        color: var(--light-mode-dark-green);
      }

      .input{
        padding-top: 50px;
        text-align: center;

        input{
          width: 50%;
          border: none;
          background-color: var(--light-mode-input-backgroud);

          padding: 15px;

          font-family: OpenSans;
          font-size: 15px;
        }
        input:focus::placeholder{
          color: var(--light-mode-dark-green);
        }
      }
    }

    .adminPaymentList{
      width: 100%;
      padding-top: 50px;

      .header{
        width: 100%;
        height: 50px;
        display: table;

        font-family: Nexa;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
        color: var(--light-mode-dark-green);

        .user{
          display: table-cell;
          vertical-align: middle;
          width: 100%;
        }
        .agreement{
          display: table-cell;
          vertical-align: middle;
          min-width: 200px;
        }
        .state{
          display: table-cell;
          vertical-align: middle;
          min-width: 80px;
        }
        .start{
          display: table-cell;
          vertical-align: middle;
          min-width: 180px;
        }
        .end{
          display: table-cell;
          vertical-align: middle;
          min-width: 180px;
        }

      }
    }

    .adminPaymentItem{
      display: table;
      width: 100%;
      height: 50px;
      border-bottom: 1px solid var(--light-mode-input-backgroud);

      font-family: OpenSans;
      font-size: 14px;

      .adminPaymentItemImage{
        display: table-cell;
        vertical-align: middle;
        width: 30px;
        padding-left: 15px;
        padding-right: 15px;
        img{
          vertical-align: middle;
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
      .adminPaymentItemName{
        display: table-cell;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;

        a{
          text-decoration: none;
          color: black;
        }
      }
      .adminPaymentItemAgreement{
        display: table-cell;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 200px;
      }
      .adminPaymentItemState{
        display: table-cell;
        vertical-align: middle;
        min-width: 80px;
      }
      .adminPaymentItemStart{
        display: table-cell;
        vertical-align: middle;
        min-width: 180px;
      }
      .adminPaymentItemEnd{
        display: table-cell;
        vertical-align: middle;
        min-width: 180px;
      }

    }
    .adminPaymentItem:hover{
      background-color: var(--light-mode-input-backgroud);
    }

  }
}
