.modal{
  margin-top: 20vh;
  width: 70vw;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #999e9d;
  border-radius: 20px;
  background: white;
  overflow-y: auto;
  max-height: 60vh;

  .image{
    vertical-align: middle;
    display: inline-block;
    width: 35%;
    margin-left: 5%;
    img{
      width: 100%;
    }
  }

  .modal-form{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 55%;
    margin-top: 30px;
    margin-bottom: 70px;

    .title {
      font-size: 30px;
      font-weight: bold;
      font-family: Nexa;
      color: var(--light-mode-dark-green);
      text-align: center;
    }
    .subtitle {
      margin-left: auto;
      margin-right: auto;
      font-family: Nexa;
      font-weight: normal;
      letter-spacing: 0.8px;
      color: black;
      width: 80%;
      height: 50px;
      text-align: center;
    }

    .form {
      padding-top: 10px;
      text-align: center;

      .form-input{
        input {
          width: 60%;
          background-color: var(--light-mode-input-backgroud);
          background-size: 15px 15px;
          border: none;
          font-family: OpenSans;
          font-weight: normal;
          letter-spacing: 1px;
          height: 50px;
          padding-right: 20px;
          padding-left: 20px;
        }
        input::placeholder {
          color: var(--light-mode-gray-text);
        }

        input:focus::placeholder {
          color: var(--light-mode-dark-green);
        }
      }

      .form-textarea{
        position: relative;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 15px;

        textarea{
          overflow-y: hidden;
          padding-right: 25px;
          width: 80%;
          min-height: 40px;
          resize: vertical;
          font-size: 16px;
          font-family: Nexa;
          letter-spacing: 0.2px;
          border: 1px solid var(--light-mode-input-backgroud);
          padding-left: 7px;
          padding-top: 7px;
          padding-bottom: 7px;
        }
      }

      .form-review{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
        padding-bottom: 5px;
      }

      .from-input-with-padding{
        input.input-field-email {
          width: 70%;
          background-color: var(--light-mode-input-backgroud);
          background-size: 15px 15px;
          border: none;
          font-family: OpenSans;
          font-weight: normal;
          letter-spacing: 1px;
          height: 50px;
          padding-right: 20px;
          padding-left: 40px;
          background-image: url("../../assets/images/inputImages/email.svg");
          background-repeat: no-repeat;
          background-position: 15px;
        }
        input::placeholder {
          color: var(--light-mode-gray-text);
        }

        input:focus::placeholder {
          color: var(--light-mode-dark-green);
        }
      }

      .form-submit-button{
        padding-bottom: 5px;
        margin-top: 15px;

        button{
          font-size: 16px;
          text-decoration: none;
          letter-spacing: 2px;
          border-radius: 50px;
          padding: 8px 10%;
          border: none;
          cursor: pointer;
          color: white;
          font-family: OpenSans;
          background-image: linear-gradient(to right, var(--button-light-green), var(--button-dark-green), var(--button-dark-green), var(--button-light-green));
          box-shadow: 0 4px 15px 0 rgba(49, 196, 149, 0.75);
          font-weight: normal;
          background-size: 300% 100%;
          -o-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
        }
        button:hover {
          background-position: 100% 0;
          -o-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
        }
      }

      .form-list{
        margin-top: 10px;
        width: 70%;
        margin-right: auto;
        margin-left: auto;

        .list-quest-item:hover{
          background: var(--light-mode-input-backgroud);
        }
        .list-quest-item{
          margin-bottom: 7px;
          width: 100%;
          height: 50px;
          display: table;
          border: 1px solid var(--light-mode-input-backgroud);

          .item-image{
            width: 30px;
            padding-left: 10px;
            padding-right: 10px;
            display: table-cell;
            vertical-align: middle;
            img{
              border-radius: 50%;
              width: 30px;
              height: 30px;
            }
          }
          .item-name{
            max-width: 0;
            text-align: left;
            display: table-cell;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
            font-family: OpenSans;
            font-size: 14px;

            a{
              color: black;
              text-decoration: none;
            }
          }
          .item-delete{
            width: 15px;
            padding-right: 10px;
            padding-left: 10px;
            display: table-cell;
            vertical-align: middle;
            img{
              cursor: pointer;
              width: 15px;
              height: 15px;
            }
          }
        }

      }

      // Report
      .form-bubble-item{
        cursor: pointer;
        font-family: OpenSans;
        font-size: 15px;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        width: 70%;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 15px;
        border: 1px solid var(--light-mode-input-backgroud)
      }
      .form-bubble-item.selected{
        background: var(--light-mode-input-backgroud);
      }

      // Edit Quest
      .form-details{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;

        .label{
          font-family: OpenSans;
          font-size: 14px;
          padding-bottom: 3px;
        }

        .form-difficulty{
          width: 31%;
          display: inline-block;
        }
        .form-private{
          width: 31%;
          display: inline-block;

          .label{
            margin-bottom: -14px;
          }
        }
        .form-category{
          width: 31%;
          display: inline-block;
        }
      }

      // Image uploader
      .form-images{
        width: 100%;
        margin-top: 20px;
      }

      .form-select{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }

      // Delete
      .form-yes{
        width: 50%;
        display: inline-block;
        button{
          margin-top: 10px;
          font-size: 16px;
          text-decoration: none;
          letter-spacing: 2px;
          border-radius: 50px;
          padding: 8px 30%;
          border: none;
          cursor: pointer;
          color: white;
          font-family: OpenSans;
          font-weight: normal;
          background-size: 300% 100%;
          -o-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
          background-image: linear-gradient(to right, var(--button-light-green), var(--button-dark-green), var(--button-dark-green), var(--button-light-green));
          box-shadow: 0 4px 15px 0 rgba(49, 196, 149, 0.75);
        }
        button:hover {
          background-position: 100% 0;
          -o-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
        }
      }
      .form-no{
        width: 50%;
        display: inline-block;
        button{
          margin-top: 10px;
          font-size: 16px;
          text-decoration: none;
          letter-spacing: 2px;
          border-radius: 50px;
          padding: 8px 30%;
          border: none;
          cursor: pointer;
          color: white;
          font-family: OpenSans;
          font-weight: normal;
          background-size: 300% 100%;
          -o-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
          background-image: linear-gradient(to right, var(--button-light-red), var(--button-dark-red), var(--button-dark-red), var(--button-light-red));
          box-shadow: 0 4px 15px 0 rgba(191, 52, 75, 0.75);
        }
        button:hover {
          background-position: 100% 0;
          -o-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
        }
      }

      //Search user
      .form-search-result{
        width: 67%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        border-top: 1px solid var(--light-mode-input-backgroud);
        border-left: 1px solid var(--light-mode-input-backgroud);
        border-right: 1px solid var(--light-mode-input-backgroud);

        .result-item{
          width: calc(100% + 2px);
          height: 33px;
          border-bottom: 1px solid var(--light-mode-input-backgroud);
          font-family: OpenSans;
          font-size: 15px;
          padding-top: 12px;
        }
        .result-item:hover{
          color: var(--button-dark-green);
          cursor: pointer;
        }
      }

      .emoji-picker{
        margin-top: 40px;
        margin-left: -320px;
      }
      .emoji-triangle{
        top: -15px;
        margin-left: 290px;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #d9d9d9;
      }

      //Edit stages
      .stage{
        display: table;
        position: relative;
        height: 60px;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        border: 1px solid var(--light-mode-input-backgroud);
        margin-top: 15px;

        .stage-image{
          height: 60px;
          display: table-cell;
          vertical-align: middle;
          padding-left: 10px;
          padding-right: 15px;

          img{
            vertical-align: middle;
            width: 40px;
            height: 40px;
          }

        }
        .stage-name{
          width: 100%;
          text-align: left;
          display: table-cell;
          vertical-align: middle;
          font-family: OpenSans;
          font-size: 16px;
        }
        .stage-roll{
          display: table-cell;
          vertical-align: middle;
          padding-right: 15px;

          img{
            cursor: pointer;
            vertical-align: middle;
            width: 20px;
            height: 20px;
          }
        }
      }
      .stage-items{
        margin-right: auto;
        margin-left: auto;
        padding-top: 15px;
        width: 90%;
        padding-bottom: 15px;
        border-left: 1px solid var(--light-mode-input-backgroud);
        border-right: 1px solid var(--light-mode-input-backgroud);
        border-bottom: 1px solid var(--light-mode-input-backgroud);

        .qr-code{
          img{
            width: 70%;
            max-width: 300px;
          }
        }
        .label{
          display: block;
          text-align: left;
          margin-left: auto;
          margin-right: auto;
          width: 70%;
          font-family: OpenSans;
          font-size: 13px;

          img{
            padding-left: 7px;
            width: 13px;
            height: 13px;
          }
        }
        .answer-list{
          width: 70%;
          margin-left: auto;
          margin-right: auto;

          .correct{
            border: 1px solid var(--button-light-green)!important;
          }
          .answer-item{
            min-height: 22px;
            margin-top: 7px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 10px;
            border: 1px solid var(--light-mode-input-backgroud);
            .name{
              padding-right: 5px;
              padding-left: 15px;
              vertical-align: middle;
              display: table-cell;
              font-family: OpenSans;
              font-size: 16px;
              text-align: left;
              width: 100%;
              max-width: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .buttons{
              width: 15px;
              padding-right: 10px;
              padding-left: 10px;
              display: table-cell;
              vertical-align: middle;
              img{
                cursor: pointer;
                vertical-align: middle;
                width: 15px;
                height: 15px;
              }
            }
          }
        }
        .add-answer{
              input{
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 5px;
                padding-bottom: 5px;
                font-family: OpenSans;
                font-size: 16px;
                margin-top: 10px;
                border-radius: 10px;
                border: 1px solid var(--light-mode-input-backgroud);
                width: calc(70% - 30px);
              }
            }
      }
    }
  }


  .close-modal{
    text-align: right;
    padding-top: 8px;
    vertical-align: top;
    display: inline-block;
    width: 5%;
    button{
      background: none;
      border: none;
      cursor: pointer;
      margin-right: 3px;
      font-family: Nexa;
      font-weight: bold;
      font-size: 20px;
    }
    button:hover{
      color: var(--light-mode-dark-green)
    }
  }
}

@media only screen and (max-width: 1100px) {
  .modal{
    width: 98%;
    max-height: calc(90vh - 100px);
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 100%;

    .image{
      display: block!important;
      width: 100%!important;
      margin-left: 0!important;
      text-align: center!important;
      padding: 0!important;
      img{
        margin-top: 0!important;
        width: 150px!important;
      }
    }

    .modal-form {
      display: block !important;
      width: 100% !important;
      margin-top: -15px !important;
      margin-bottom: 10px!important;

      .title {
        font-size: 20px;
      }

      .subtitle {
        width: 90%;
        height: auto;
        padding-bottom: 10px;
        text-align: center;
        font-size: 14px;
      }

      .form-input {
        input {
          width: calc(90% - 40px) !important;
        }
      }

      .form-textarea {
        position: relative;
        textarea {
          padding-right: 25px;
          width: calc(90% - 32px) !important;
          font-size: 14px !important;
        }
      }

      .form-review {
        width: 90% !important;
      }

      .from-input-with-padding {
        input.input-field-email {
          width: calc(90% - 60px);
        }
      }

      .form-submit-button {
        margin-bottom: 15px !important;

        button {
          font-size: 15px;
          padding: 8px 30px !important;
        }
      }

      .form-list {
        width: 90%!important;
        .list-quest-item {
          margin-bottom: 10px!important;
          height: 40px!important;

          .item-image {
            width: 20px!important;

            img {
              width: 20px!important;
              height: 20px!important;
            }
          }
          .item-name {
            font-size: 13px!important;
          }
        }

      }

      .form-bubble-item{
        font-size: 14px!important;
        width: 90%!important;
      }

      .form-details{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;

        .label{
          margin-top: 10px;
          text-align: left;
          font-size: 13px!important;
          padding-bottom: 5px!important;
        }

        .form-difficulty{
          width: 100%!important;
          display: block!important;
        }
        .form-private{
          text-align: left;
          width: 90%!important;
          display: block!important;

        }
        .form-category{
          width: 100%!important;
          display: block!important;
        }
      }

      .form-search-result{
        width: calc(90% - 2px)!important;

        .result-item{
          height: 25px!important;
          font-size: 14px!important;
          padding-top: 7px!important;
        }
      }

      .stage{
        display: table;
        position: relative;
        height: 40px!important;
        margin-top: 15px!important;

        .stage-image{
          height: 40px!important;
          padding-right: 10px!important;

          img{
            width: 20px!important;
            height: 20px!important;
          }

        }
        .stage-name{
          font-size: 14px!important;
        }
        .stage-roll{
          padding-right: 10px!important;
        }
      }

      .stage-items{

        .qr-code{
          img{
            max-width: 200px!important;
          }
        }
        .label{
          width: 90%!important;
        }
        .answer-list{
          width: 90%!important;
          .answer-item{
            .name{
              font-size: 14px!important;
            }
          }
        }
        .add-answer{
          input{
            width: calc(90% - 30px)!important;
          }
        }
      }

      .emoji-picker{
        margin-top: 40px;
        margin-left: -260px!important;
      }

      .emoji-mart{
        max-width: 266px;
      }

      .emoji-picker-button{
        position: absolute;
        margin-left: -24px;
        margin-top: 5px;

        img{
          cursor: pointer;
          width: 18px;
          height: 18px;
        }
      }

      .emoji-triangle{
        margin-left: 229px!important;
      }

    }

    .close-modal{
      top: 105px;
      right: calc(1% + 10px);
      display: block;
      position: absolute;
      padding: 0;
      margin: 0;
      width: 40px;
    }
  }
}

.ReactModal__Overlay {
  opacity: 0!important;
  transform: translateX(-100px)!important;
  transition: all 500ms ease-in-out!important;
}
.ReactModal__Overlay--after-open {
  opacity: 1!important;
  transform: translateX(0px)!important;
}
.ReactModal__Overlay--before-close {
  opacity: 0!important;
  transform: translateX(-100px)!important;
}
