.modal{
  margin-top: 20vh;
  width: 70vw;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #999e9d;
  border-radius: 20px;
  background: white;
  overflow-y: auto;
  max-height: 60vh;

  .image{
    vertical-align: middle;
    display: inline-block;
    width: 35%;
    margin-left: 5%;
    img{
      width: 100%;
    }
  }

  .modal-form{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 55%;
    margin-top: 30px;
    margin-bottom: 70px;

    .title {
      font-size: 30px;
      font-weight: bold;
      font-family: Nexa;
      color: var(--light-mode-dark-green);
      text-align: center;
    }
    .subtitle {
      margin-left: auto;
      margin-right: auto;
      font-family: Nexa;
      font-weight: normal;
      letter-spacing: 0.8px;
      color: black;
      width: 80%;
      height: 50px;
      text-align: center;
    }

    .form {
      padding-top: 10px;
      text-align: center;

      .form-input{
        input {
          width: 60%;
          background-color: var(--light-mode-input-backgroud);
          background-size: 15px 15px;
          border: none;
          font-family: OpenSans;
          font-weight: normal;
          letter-spacing: 1px;
          height: 50px;
          padding-right: 20px;
          padding-left: 20px;
        }
        input::placeholder {
          color: var(--light-mode-gray-text);
        }

        input:focus::placeholder {
          color: var(--light-mode-dark-green);
        }
      }

      .form-textarea{
        text-align: center;
        padding-bottom: 15px;
        padding-top: 15px;

        textarea{
          width: 80%;
          min-height: 40px;
          resize: vertical;
          font-size: 16px;
          font-family: Nexa;
          letter-spacing: 0.2px;
          border: 1px solid var(--light-mode-input-backgroud);
          padding: 7px;
        }
      }

      .form-review{
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
        padding-bottom: 5px;
      }

      .from-input-with-padding{
        input.input-field-email {
          width: 70%;
          background-color: var(--light-mode-input-backgroud);
          background-size: 15px 15px;
          border: none;
          font-family: OpenSans;
          font-weight: normal;
          letter-spacing: 1px;
          height: 50px;
          padding-right: 20px;
          padding-left: 40px;
          background-image: url("../../assets/images/inputImages/email.svg");
          background-repeat: no-repeat;
          background-position: 15px;
        }



        input::placeholder {
          color: var(--light-mode-gray-text);
        }

        input:focus::placeholder {
          color: var(--light-mode-dark-green);
        }


      }

      .form-submit-button{
        margin-top: 15px;

        button{
          font-size: 16px;
          text-decoration: none;
          letter-spacing: 2px;
          border-radius: 50px;
          padding: 8px 10%;
          border: none;
          cursor: pointer;
          color: white;
          font-family: OpenSans;
          background-image: linear-gradient(to right, var(--button-light-green), var(--button-dark-green), var(--button-dark-green), var(--button-light-green));
          box-shadow: 0 4px 15px 0 rgba(49, 196, 149, 0.75);
          font-weight: normal;
          background-size: 300% 100%;
          -o-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
        }
        button:hover {
          background-position: 100% 0;
          -o-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
        }
      }

      .form-list{
        margin-top: 10px;
        width: 70%;
        margin-right: auto;
        margin-left: auto;

        .list-quest-item:hover{
          background: var(--light-mode-input-backgroud);
        }
        .list-quest-item{
          margin-bottom: 7px;
          width: 100%;
          height: 50px;
          display: table;
          border: 1px solid var(--light-mode-input-backgroud);

          .item-image{
            width: 30px;
            padding-left: 10px;
            padding-right: 10px;
            display: table-cell;
            vertical-align: middle;
            img{
              width: 30px;
              height: 30px;
            }
          }
          .item-name{
            max-width: 0px;
            text-align: left;
            display: table-cell;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
            font-family: OpenSans;
            font-size: 14px;

            a{
              color: black;
              text-decoration: none;
            }
          }
          .item-delete{
            width: 15px;
            padding-right: 10px;
            padding-left: 10px;
            display: table-cell;
            vertical-align: middle;
            img{
              cursor: pointer;
              width: 15px;
              height: 15px;
            }
          }
        }

      }

      // Report
      .form-bubble-item{
        cursor: pointer;
        font-family: OpenSans;
        font-size: 15px;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
        width: 70%;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 15px;
        border: 1px solid var(--light-mode-input-backgroud)
      }
      .form-bubble-item.selected{
        background: var(--light-mode-input-backgroud);
      }

      // Edit Quest
      .form-details{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;

        .label{
          font-family: OpenSans;
          font-size: 14px;
          padding-bottom: 3px;
        }

        .form-difficulty{
          width: 31%;
          display: inline-block;
        }
        .form-private{
          width: 31%;
          display: inline-block;

          .label{
            margin-bottom: -14px;
          }
        }
        .form-category{
          width: 31%;
          display: inline-block;
        }
      }

      // Image uploader
      .form-images{
        width: 100%;
        margin-top: 20px;
      }

      // Delete
      .form-yes{
        width: 50%;
        display: inline-block;
        button{
          margin-top: 10px;
          font-size: 16px;
          text-decoration: none;
          letter-spacing: 2px;
          border-radius: 50px;
          padding: 8px 30%;
          border: none;
          cursor: pointer;
          color: white;
          font-family: OpenSans;
          font-weight: normal;
          background-size: 300% 100%;
          -o-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
          background-image: linear-gradient(to right, var(--button-light-green), var(--button-dark-green), var(--button-dark-green), var(--button-light-green));
          box-shadow: 0 4px 15px 0 rgba(49, 196, 149, 0.75);
        }
        button:hover {
          background-position: 100% 0;
          -o-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
        }
      }
      .form-no{
        width: 50%;
        display: inline-block;
        button{
          margin-top: 10px;
          font-size: 16px;
          text-decoration: none;
          letter-spacing: 2px;
          border-radius: 50px;
          padding: 8px 30%;
          border: none;
          cursor: pointer;
          color: white;
          font-family: OpenSans;
          font-weight: normal;
          background-size: 300% 100%;
          -o-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
          background-image: linear-gradient(to right, var(--button-light-red), var(--button-dark-red), var(--button-dark-red), var(--button-light-red));
          box-shadow: 0 4px 15px 0 rgba(191, 52, 75, 0.75);
        }
        button:hover {
          background-position: 100% 0;
          -o-transition: all .4s ease-in-out;
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
        }
      }
    }
  }


  .close-modal{
    text-align: right;
    padding-top: 8px;
    vertical-align: top;
    display: inline-block;
    width: 5%;
    button{
      background: none;
      border: none;
      cursor: pointer;
      margin-right: 3px;
      font-family: Nexa;
      font-weight: bold;
      font-size: 20px;
    }
    button:hover{
      color: var(--light-mode-dark-green)
    }
  }
}

.ReactModal__Overlay {
  opacity: 0!important;
  transform: translateX(-100px)!important;
  transition: all 500ms ease-in-out!important;
}
.ReactModal__Overlay--after-open {
  opacity: 1!important;
  transform: translateX(0px)!important;
}
.ReactModal__Overlay--before-close {
  opacity: 0!important;
  transform: translateX(-100px)!important;
}
