.modal {
  margin-top: 20vh;
  width: 70vw;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #999e9d;
  border-radius: 20px;
  background: white;

  .image {
    vertical-align: middle;
    display: inline-block;
    width: 35%;
    margin-left: 5%;

    img {
      width: 100%;
    }
  }

  .modal-form {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 55%;
    margin-top: 30px;
    margin-bottom: 70px;

    .title {
      font-size: 30px;
      font-weight: bold;
      font-family: Nexa;
      color: var(--light-mode-dark-green);
      text-align: center;
    }

    .subtitle {
      margin-left: auto;
      margin-right: auto;
      font-family: Nexa;
      font-weight: normal;
      letter-spacing: 0.8px;
      color: black;
      width: 80%;
      height: 50px;
      text-align: center;
    }

    .form {
      padding-top: 10px;
      text-align: center;
    }
  }
}
