.navigation{
  position: relative;
  z-index: 1000;
  background: white;
  height: 110px;
  border-bottom: 1px solid var(--light-mode-input-backgroud);
  display: table;
}

.navigation-links{
  height: 100%;
  display: table;

  .navigation-menu{
    img{
      width: 0;
      height: 0;
    }
  }

  .navigation-links-logo {
    vertical-align: middle;
    width: 20vw;
    display: table-cell;
    padding-left: 45px;

    img{
      display: inline-block;
      width: 11vw;
      vertical-align: middle;
      max-width: 150px;
    }
  }

  .navigation-links-link{
    vertical-align: middle;
    display: table-cell;
    width: 60vw;
    text-align: right;

    a{
      margin-right: 3vw;
      text-decoration: none;
      letter-spacing: 1.5px;
      font-family: OpenSans;
      color: var(--light-mode-dark-green);
      transition: color, 0.2s;
      cursor: pointer;
    }
    a:hover{
      color: var(--button-dark-green);
      transition: color, 0.5s;
    }
  }
}
