@media only screen and (max-width: 1100px) {
  .navigation{
    width: 100%;
    position: fixed;
    height: 80px;

    .navigation-button-content{
      button{
        margin-right: 25px;
        min-width: 100px;
        padding-right: 5px;
        padding-left: 5px;
      }
    }

    .navigation-profile-user{
      width: 145px;

      .notification-icons{
        .navigation-notifications{
          width: 30px;
          img{
            vertical-align: middle;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer;
            width: 20px;
            height: 20px;
          }

          .notification-count{
            margin-left: 23px;
            margin-top: -30px;
          }

        }

        .navigation-invitations{
          width: 30px;
          .invitations-button-image{
            img{
              vertical-align: middle;
              margin-left: 10px;
              margin-right: 5px;
              cursor: pointer;
              width: 20px;
              height: 20px;
            }
          }


          .invitations-count{
            background: red;
            position: absolute;
            margin-left: 25px;
            margin-top: -30px;
            font-family: OpenSans;
            font-size: 12px;
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 1px;
            padding-bottom: 1px;
            border-radius: 5px;
            color: white;
          }

        }
      }

      .profile-image{
        cursor: pointer;
        text-align: right;
        padding-right: 20px!important;
        display: table-cell;
        width: 40px!important;
        img{
          vertical-align: middle;
          width: 40px!important;
          height: 40px!important;
        }
      }
    }

    .navigation-links{
      .navigation-menu{
        display: table-cell;
        vertical-align: middle;
        padding-left: 20px;
        img{
          cursor: pointer;
          vertical-align: middle;
          width: 25px;
          height: 25px;
        }
      }

      .navigation-links-logo{
        padding-left: 15px;
        img{
          width: 100px;
        }
      }

      .open {
        transition: max-height 0.1s ease-out!important;
        max-height: 0!important;
        overflow: hidden!important;
      }

      .navigation-links-link{
        z-index: 1000;
        transition: max-height 0.1s ease-out!important;
        max-height: 270px;
        position: fixed;
        display: block;
        width: 100%;
        margin-top: 80px;
        left: 0;
        background: white;
        text-align: center;
        border-top: 1px solid var(--light-mode-input-backgroud);

        a{
          border-bottom: 1px solid var(--light-mode-input-backgroud);
          padding-top: 10px;
          padding-bottom: 10px;
          display: block;
          text-decoration: none;
          letter-spacing: 1.5px;
          font-family: OpenSans;
          font-size: 18px;
          color: var(--light-mode-dark-green);
          transition: color, 0.2s
        }
        a:hover{
          background: var(--light-mode-input-backgroud);
          color: var(--button-dark-green);
          transition: color, 0.5s
        }

      }

    }
  }

  .navigation-roll{
    width: 100%;
    top: 80px;
    right: 0;

    .navigation-triangle{
      display: none;
    }

    .navigation-roll-item-name{
      width: 100%;
    }

    .navigation-roll-item-slider{
      padding-right: 20px;
    }

    .navigation-roll-item-title{
      width: 100%;
    }

    .navigation-roll-item-icon{
      width: 40px;
      padding-left: 20px;
      padding-right: 20px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;

      img {
        width: 36px;
        height: 36px;
      }
    }
  }

  .notifications-roll{
    right: 0;
    top: 80px;
    width: 100%!important;

    .navigation-triangle{
      display: none;
    }
  }

  .invitations-roll{
    border-left: none;
    border-right: none;
    right: 0;
    left: 0;
    top: 80px;
    width: 100%;

    .navigation-triangle{
      display: none;
    }
  }

}
