@font-face {
  font-family: 'Nexa';
  src: url('../../assets/fonts/Nexa-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-Regular.otf');
}
@font-face {
  font-family: 'Nexa';
  src: url('../../assets/fonts/Nexa-Light.otf');
  font-weight: normal;
}

.navigation{
  height: 110px;
  border-bottom: 1px solid var(--light-mode-input-backgroud);
  display: table;

  .navigation-logo {
    vertical-align: middle;
    width: 20vw;
    display: table-cell;
    padding-left: 45px;

    img{
      display: inline-block;
      width: 11vw;
      vertical-align: middle;
      max-width: 150px;
    }
  }

  .navigation-links{
    vertical-align: middle;
    display: table-cell;
    width: 60vw;
    text-align: right;

    a{
      margin-right: 5vw;
      text-decoration: none;
      letter-spacing: 1.5px;
      font-family: OpenSans;
      color: var(--light-mode-dark-green);
      transition: color, 0.2s
    }
    a:hover{
      color: var(--light-mode-light-green);
      transition: color, 0.5s
    }
  }

  .navigation-button {
    vertical-align: middle;
    width: 20vw;
    display: table-cell;
    text-align: right;

    button {
      margin-right: 45px;
      font-size: 16px;
      text-decoration: none;
      letter-spacing: 2px;
      border-radius: 50px;
      padding: 8px 4vw;
      border: none;
      cursor: pointer;
      color: white;
      font-family: OpenSans;
      font-weight: normal;
      background-size: 300% 100%;
      background-image: linear-gradient(to right, var(--button-light-green), var(--button-dark-green), var(--button-dark-green), var(--button-light-green));
      box-shadow: 0 4px 15px 0 rgba(49, 196, 149, 0.75);
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }

    button:hover {
      background-position: 100% 0;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }
  }

}
