.adminUserDetails{
  width: 100%;
  height: 100%;

  .adminUserDetailsContainer{
    display: inline-block;
    vertical-align: top;
    width: 80%;
    height: max-content;

    margin-left: -1px;
    border-left: 1px solid var(--light-mode-input-backgroud);

    .adminUserDetailsEdit{
      .title{
        font-family: Nexa;
        font-weight: bold;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        color: var(--light-mode-dark-green);

        padding-top: 50px;
      }

      .form{
        width: 60%;
        height: 100%;
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;

        .formItem{
          width: 100%;
          margin-top: 20px;

          .itemLabel{
            text-align: left;
            font-family: OpenSans;
            font-size: 13px;
            color: var(--light-mode-gray-text);

            padding-bottom: 5px;
          }
          .itemContent{
            width: 100%;

            .image{
              display: table-cell;
              vertical-align: middle;
              width: 50px;

              img{
                vertical-align: middle;
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }
            }
            .deleteButton{
              display: table-cell;
              vertical-align: middle;
              width: 100%;
              padding-left: 30px;

              button{
                font-size: 14px;
                text-decoration: none;
                letter-spacing: 2px;
                border-radius: 50px;
                padding: 8px 30px;
                border: none;
                cursor: pointer;
                color: white;
                font-family: OpenSans;
                background-image: linear-gradient(to right, var(--button-light-red), var(--button-dark-red), var(--button-dark-red), var(--button-light-red));
                box-shadow: 0 4px 15px 0 rgba(191, 52, 75, 0.75);
                font-weight: normal;
                background-size: 300% 100%;
                -o-transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
              }
              button:hover {
                background-position: 100% 0;
                -o-transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
              }
            }
            .customSelect{
              .css-26l3qy-menu{
                font-family:OpenSans;
              }
            }

            input{
              width: 100%;
              border: none;
              background-color: var(--light-mode-input-backgroud);

              padding: 15px;

              font-family: OpenSans;
              font-size: 15px;
            }
            input:focus::placeholder{
              color: var(--light-mode-dark-green);
            }

            textarea{
              width: 100%;
              border: none;
              background-color: var(--light-mode-input-backgroud);
              font-family: OpenSans;
              font-size: 15px;
              overflow-y: hidden;
              resize: vertical;
              padding: 15px;
              min-height: 60px;
            }
            textarea:focus::placeholder{
              color: var(--light-mode-dark-green);
            }
          }
        }
        .formButton{
          width: 100%;
          text-align: center;
          padding-top: 30px;
          padding-bottom: 30px;

          button{
            font-size: 15px;
            text-decoration: none;
            letter-spacing: 2px;
            border-radius: 50px;
            padding: 8px 30px;
            border: none;
            cursor: pointer;
            color: white;
            font-family: OpenSans;
            background-image: linear-gradient(to right, var(--button-light-green), var(--button-dark-green), var(--button-dark-green), var(--button-light-green));
            box-shadow: 0 4px 15px 0 rgba(49, 196, 149, 0.75);
            font-weight: normal;
            background-size: 300% 100%;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
          }
          button:hover {
            background-position: 100% 0;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
          }
        }
      }
    }

    .adminUserDetailsTable{
      padding-top: 50px;
      padding-bottom: 50px;
      width: 100%;

      .header{
        width: 100%;
        display: table;

        border-top: 1px solid var(--light-mode-input-backgroud);
        border-bottom: 1px solid var(--light-mode-input-backgroud);

        .title{
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 50px;
          display: table-cell;
          vertical-align: middle;

          font-family: Nexa;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 25px;
          color: var(--light-mode-dark-green);
        }
        .arrow{
          display: table-cell;
          vertical-align: middle;
          width: 20px;
          padding-right: 50px;

          img{
            cursor: pointer;
            vertical-align: middle;
            width: 20px;
            height: 20px;
          }
        }
      }

      .itemHeader{
        width: 100%;
        height: 50px;
        display: table;

        font-family: OpenSans;
        font-size: 14px;
        color: var(--light-mode-dark-green);

        border-bottom: 1px solid var(--light-mode-input-backgroud);


        .pointSeason, .pointAmount{
          display: table-cell;
          vertical-align: middle;
          padding-left: 20px;
          width: 50%;
        }
        .pointAmount{
          text-align: right;
          padding-right: 15px;
        }

        .reviewsId{
          display: table-cell;
          vertical-align: middle;
          width: 50px;
          padding-left: 20px;
        }
        .reviewsText{
          padding-left: 10px;
          display: table-cell;
          vertical-align: middle;
        }
        .reviewsReview{
          width: 70px;
          display: table-cell;
          vertical-align: middle;
        }
        .reviewsDate{
          display: table-cell;
          vertical-align: middle;
          width: 120px;
        }
        .reviewsAction{
          display: table-cell;
          vertical-align: middle;
          width: 40px;
          padding-right: 5px;
        }


        .badgeName{
          display: table-cell;
          vertical-align: middle;
          padding-left: 20px;
        }
        .badgeDate{
          display: table-cell;
          vertical-align: middle;
          text-align: right;
          padding-right: 40px;
        }

        .questName{
          width: 70%;
          display: table-cell;
          vertical-align: middle;
          padding-left: 20px;
        }
        .questActive{
          display: table-cell;
          vertical-align: middle;
          width: 50px;
          padding-left: 30px;

          font-family: OpenSans!important;
          font-size: 14px;
        }
        .questDate{
          display: table-cell;
          vertical-align: middle;
          width: 30%;
          text-align: right;
          padding-right: 80px;
        }

        .groupName{
          display: table-cell;
          vertical-align: middle;
          padding-left: 20px;
        }
        .groupDate{
          display: table-cell;
          vertical-align: middle;
          text-align: right;
          padding-right: 80px;
        }

        .joinedGroupName{
          display: table-cell;
          vertical-align: middle;
          width: 35%;
          padding-left: 20px;
        }
        .joinedGroupUser{
          display: table-cell;
          vertical-align: middle;
          width: 35%;
          padding-left: 20px;
        }
        .joinedGroupDate{
          display: table-cell;
          vertical-align: middle;
          width: 30%;
          text-align: right;
          padding-right: 80px;
        }

        .action{
          display: table-cell;
          vertical-align: middle;
          width: 50px;
          padding-right: 10px;
        }
      }

      .tableCreatedGroups, .tableJoinedGroups{
        width: 100%;
        display: table;
        height: 50px;

        border-bottom: 1px solid var(--light-mode-input-backgroud);

        .name{
          display: table-cell;
          vertical-align: middle;
          width: 35%;
          a{
            font-size: 14px;
            font-family: OpenSans;
            padding-left: 15px;
            color: black;
            text-decoration: none;
          }

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 0;
        }
        .date{
          display: table-cell;
          vertical-align: middle;
          width: 30%;

          font-size: 13px;
          font-family: Nexa;
          color: var(--light-mode-gray-text);
          text-align: right;

          padding-right: 15px;
        }
        .user{
          display: table-cell;
          vertical-align: middle;
          width: 35%;

          a{
            font-size: 14px;
            font-family: OpenSans;
            padding-left: 15px;
            color: black;
            text-decoration: none;
          }
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 0;
        }
      }

      .tableQuests{
        width: 100%;
        display: table;
        height: 50px;

        border-bottom: 1px solid var(--light-mode-input-backgroud);

        .name{
          display: table-cell;
          vertical-align: middle;
          width: 70%;

          a{
            font-size: 14px;
            font-family: OpenSans;
            padding-left: 15px;
            color: black;
            text-decoration: none;
          }

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 0;
        }
        .date{
          display: table-cell;
          vertical-align: middle;
          width: 30%;

          font-size: 13px;
          font-family: Nexa;
          color: var(--light-mode-gray-text);
          text-align: right;

          padding-right: 15px;
        }
        .active{
          display: table-cell;
          vertical-align: middle;
          width: 50px;

          font-size: 14px;
          font-family: OpenSans;
          padding-left: 15px;
          color: black;
          text-decoration: none;
        }
      }

      .tableItemBadge{
        width: 100%;

        .item{
          width: 100%;
          display: table;
          height: 50px;
          border-bottom: 1px solid var(--light-mode-input-backgroud);

          .image{
            display: table-cell;
            vertical-align: middle;
            width: 40px;
            padding-left: 15px;
            padding-right: 15px;

            img{
              vertical-align: middle;
              width: 40px;
              height: 40px;
            }
          }
          .name{
            display: table-cell;
            vertical-align: middle;

            width: 50%;
            font-family: OpenSans;
            text-align: left;
            font-size: 14px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 0;
          }
          .date{
            display: table-cell;
            vertical-align: middle;

            color: var(--light-mode-gray-text);
            text-align: right;
            font-size: 13px;
            font-family: Nexa;
            padding-right: 15px;
          }
          .action{
            display: table-cell;
            vertical-align: middle;
            width: 15px;
            padding-right: 15px;

            img{
              vertical-align: middle;
              width: 15px;
              height: 15px;

              cursor: pointer;
            }
          }
        }
      }

      .tableItemReview{
        width: 100%;

        .item {
          width: 100%;
          display: table;
          height: 50px;
          border-bottom: 1px solid var(--light-mode-input-backgroud);

          .quest{
            display: table-cell;
            vertical-align: middle;
            width: 50px;
            padding-left: 15px;
            padding-right: 15px;
            cursor: pointer;
            a{
              text-decoration: none;
              font-family: OpenSans;
              color: black;
              font-size: 14px;
            }
          }
          .text{
            display: table-cell;
            vertical-align: middle;
            width: calc(100% - 305px);

            font-family: OpenSans;
            font-size: 13px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 0;
          }
          .review{
            width: 10px;
            display: table-cell;
            vertical-align: middle;

            padding-right: 10px;
            padding-left: 10px;

            font-family: OpenSans;
            font-size: 13px;
          }

          .date{
            width: 140px;
            display: table-cell;
            vertical-align: middle;

            color: var(--light-mode-gray-text);
            text-align: right;
            font-size: 13px;
            font-family: Nexa;
            padding-right: 15px;
          }
          .action{
            display: table-cell;
            vertical-align: middle;
            width: 15px;
            padding-right: 15px;
            padding-left: 15px;

            img{
              vertical-align: middle;
              width: 15px;
              height: 15px;

              cursor: pointer;
            }
          }
        }

      }

      .tablePoint{
        width: 100%;
        display: table;
        height: 50px;
        border-bottom: 1px solid var(--light-mode-input-backgroud);
        .season{
          display: table-cell;
          vertical-align: middle;
          font-family: OpenSans;
          font-size: 15px;
          width: 50%;
          padding-left: 15px;
        }
        .amount{
          display: table-cell;
          vertical-align: middle;
          font-family: OpenSans;
          font-size: 15px;
          width: 50%;
          text-align: right;
          padding-right: 15px;
        }
      }

      .removeItem{
        width: 100%;
        display: table;
        height: 50px;
        border-bottom: 1px solid var(--light-mode-input-backgroud);

        .removeYes, .removeNo{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          width: 50%;

          button{
            font-size: 15px;
            text-decoration: none;
            letter-spacing: 2px;
            border-radius: 50px;
            padding: 8px 30px;
            border: none;
            cursor: pointer;
            color: white;
            font-family: OpenSans;
            font-weight: normal;
            background-size: 300% 100%;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
          }
          button:hover {
            background-position: 100% 0;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
          }
        }
        .removeYes{
          button{
            background-image: linear-gradient(to right, var(--button-light-green), var(--button-dark-green), var(--button-dark-green), var(--button-light-green));
            box-shadow: 0 4px 15px 0 rgba(49, 196, 149, 0.75);
          }
        }
        .removeNo{
          button{
            background-image: linear-gradient(to right, var(--button-light-red), var(--button-dark-red), var(--button-dark-red), var(--button-light-red));
            box-shadow: 0 4px 15px 0 rgba(191, 52, 75, 0.75);
          }
        }
      }
    }
  }
}
