@media only screen and (max-width: 1100px) {
  .user-quest-list{
    top: 547px;

    .user-quest-created{

      .user-quest-created-container{
        margin-bottom: 30px;

        .container-title{
          width: 100%;
          border-right: none;
          border-left: none;
          h2{
            font-size: 30px;
            text-align: center;
          }

        }
        .container-table{
          width: 100%;
          border-left: none;
          border-right: none;

          .item-category-image{
            padding-left: 10px!important;
            padding-right: 10px!important;
            img{
              width: 35px!important;
              height: 35px!important;
            }
          }

          .item-quest-name{
            padding-left: 10px!important;
          }

        }
      }

    }

    .user-quest-played{
      .user-quest-played-container{
        margin-bottom: 30px!important;

        .user-quest-played-container-bottom{
          width: 100%!important;
          .user-quest-played-container-bottom-border{
            margin-left: 0;
          }
        }

        .container-title{
          width: 100%!important;
          border-right: none!important;
          border-left: none!important;
          h2{
            font-size: 30px!important;
            padding-left: 0!important;
            text-align: center!important;
          }
        }
        .container-table{
        width: 100%!important;

        .container-table-item{
          border-right: none!important;

          .item-category-image{
            padding-left: 10px;
            padding-right: 5px;
            border-left: none!important;
            width: 35px;
            img{
              width: 35px!important;
              height: 35px!important;
            }
          }
          .item-quest-name{
            padding-left: 10px!important;
          }
        }
      }

        .item-stage-container{
          border-left: 1px solid var(--light-mode-input-backgroud);
          border-right: none;
          width: calc(100% - 51px);
          margin-left: 50px;

          .item-stage{

            .item-stage-info{
              display: block;
              height: 32px;
            }

            .item-stage-date{
              text-align: right;
              padding-right: 0;
              display: block;
              height: 18px;
            }

          }

        }

      }
    }

    .user-quest-empty{
      width: 100%;
      border-left: none;
      border-right: none;

      .container-title{
        h2{
          font-size: 30px;
          padding-left: 0;
          text-align: center;
        }
      }

      .user-quest-empty-title{
        font-size: 15px;
      }
    }

    .user-quest-active{
      .user-quest-active-container {
        margin-bottom: 30px;
      }

      .container-button{
        width: 100%!important;
        border-right: none!important;
        border-left: none!important;
      }

      .container-title{
        width: 100%!important;
        border-left: none!important;
        border-right: none!important;
        
        h2{
          font-size: 30px!important;
          padding-left: 0!important;
          text-align: center!important;
        }
      }

      .container-table{
        width: 100%!important;
        border-left: none!important;
        border-right: none!important;
      }

      .item-category-name{
        font-size: 0!important;
        padding-right: 0!important;
      }

      .item-quest-name{
        padding-left: 15px!important;
      }

    }

  }
}
