.reset-password{
  width: 100%;
  height: 100%;
}
.forgot-password{
  width: 100vw;
  height: 100%;


  .forgot-password-box{
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }

  .forgot-password-image{
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    width: 50%;
    height: 100%;

    img {
      width: 90%;
      max-width: 600px;
    }
  }

  .forgot-password-form{
    max-width: 900px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    top: 0;
    width: 50%;
    height: 100%;

    .title {
      font-size: 30px;
      font-weight: bold;
      font-family: Nexa;
      color: var(--light-mode-dark-green);
      text-align: center;
    }

    .subtitle {
      margin-left: auto;
      margin-right: auto;
      font-family: Nexa;
      font-weight: normal;
      letter-spacing: 0.8px;
      color: black;
      width: 80%;
      height: 50px;
      text-align: center;
    }

    button{
      margin-top: 10px;
      font-size: 16px;
      text-decoration: none;
      letter-spacing: 2px;
      border-radius: 50px;
      padding: 8px 6vw;
      border: none;
      cursor: pointer;
      color: white;
      font-family: OpenSans;
      font-weight: normal;
      background-size: 300% 100%;
      background-image: linear-gradient(to right, var(--button-light-green), var(--button-dark-green), var(--button-dark-green), var(--button-light-green));
      box-shadow: 0 4px 15px 0 rgba(49, 196, 149, 0.75);
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }

    .from {
      text-align: center;
    }

    .form input {
      width: 70%;
      background-color: var(--light-mode-input-backgroud);
      background-size: 15px 15px;
      border: none;
      font-family: OpenSans;
      font-weight: normal;
      letter-spacing: 1px;
      height: 50px;
      padding-right: 20px;
      padding-left: 40px;
    }

    input::placeholder {
      color: var(--light-mode-gray-text);
    }

    input:focus::placeholder {
      color: var(--light-mode-dark-green);
    }

    .input-field-password {
      background: url("../../../assets/images/inputImages/email.svg") no-repeat scroll 15px;
    }

    button:hover {
      background-position: 100% 0;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }
  }
}


