.quest{
  width: 100%;
  height: 100%;

  .quest-map{
    height: 40%;

    .map-ref{
      height: 40vh;
      width: 100%;
    }

    .gmnoprint, .gm-style-cc, .gm-control-active, .gm-fullscreen-control {
      display: none;
    }
  }
}
