.ReactGridGallery{
  margin-right: auto!important;
  margin-left: auto!important;
}

.quest{
  width: 100%;
  height: 100%;

  .quest-report{
    width: 90%;
    margin-top: 10px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;

    img{
      width: 30px;
      cursor: pointer;
      height: 30px;
    }
  }

  .quest-button{
    margin-top: 30px;
    width: 90%;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    button{
      margin-top: 10px;
      font-size: 16px;
      text-decoration: none;
      letter-spacing: 2px;
      border-radius: 50px;
      padding: 8px 4%;
      border: none;
      cursor: pointer;
      color: white;
      font-family: OpenSans;
      background-image: linear-gradient(to right, var(--button-light-green), var(--button-dark-green), var(--button-dark-green), var(--button-light-green));
      box-shadow: 0 4px 15px 0 rgba(49, 196, 149, 0.75);
      font-weight: normal;
      background-size: 300% 100%;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }

    button:hover {
      background-position: 100% 0;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }
  }

  .quest-detail-content{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1500px;
    display: table;
  }

  .quest-details-title{
    font-family: Nexa;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 30px;
    font-size: 30px;
    color: var(--light-mode-dark-green);
    padding-bottom: 7px;
    border-bottom: 1px solid var(--light-mode-gray-text);
  }

  .quest-details{
    display: table-cell;
    width: 70%;

    .quest-details-description{
      width: 100%;
      padding-top: 10px;
      font-family: Nexa;
      font-size: 18px;
      letter-spacing: 0.5px;
    }

    .quest-details-graph{
      display: table;
      width: 100%;
      margin-top: 40px;
      margin-bottom: 50px;
      text-align: center;
      margin-right: auto;
      margin-left: auto;

      .quest-detail-graph-label{
        text-align: center;
        font-family: OpenSans;
        font-size: 13px;
        margin-bottom: 10px;
      }

      .quest-detail-graph-difficulty{
        width: 33%;
        display: table-cell;

        canvas{
          margin-left: auto;
          margin-right: auto;
          width: 96%;
          max-height: 90px;
          max-width: 180px;
        }
      }
      .quest-detail-graph-review{
        width: 33%;
        display: table-cell;

        canvas{
          margin-left: auto;
          margin-right: auto;
          width: 96%;
          max-height: 90px;
          max-width: 180px;
        }
      }
      .quest-detail-graph-success{
        width: 33%;
        text-align: center;
        display: table-cell;

        canvas{
          margin-left: auto;
          margin-right: auto;
          width: 96%;
          max-height: 90px;
          max-width: 180px;
        }
      }
    }


  }
}
