.quest-reviews-list{
  width: 100%;
  max-width: 1700px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;

  .quest-reviews-list-title{
    border-top: 1px solid var(--light-mode-input-backgroud);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: Nexa;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: var(--light-mode-dark-green);
  }

  .quest-review-item{
    width: 70%;
    border: 1px solid var(--light-mode-input-backgroud);
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-bottom: 30px;

    .quest-review-header{
      width: 100%;
      display: table;

      .header-user-image{
        display: table-cell;
        vertical-align: middle;
        width: 30px;

        img{
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

      }
      .header-user-name{
        font-family: OpenSans;
        font-size: 16px;
        padding-left: 10px;
        display: table-cell;
        vertical-align: middle;
        a{
          color: black;
          text-decoration: none;
        }
      }


      .header-rating{
        float: right;
        display: table-cell;

        .dv-star-rating-star{
          color: var(--light-mode-gray-text)!important;
        }

        .dv-star-rating-full-star{
          color: var(--button-light-green)!important;
        }

        .dv-star-rating{
          i {
            font-size: 25px!important;
          }
        }
      }
    }

    .quest-review-text{
      display: table-cell;
      padding-top: 10px;
      font-family: Nexa;
      letter-spacing: 0.2px;
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .quest-review-footer{
      margin-top: 20px;
      margin-left: 30px;
    }

    .footer-date{
      font-family: Nexa;
      color: var(--light-mode-gray-text);
      font-size: 12px;
      display: table-cell;
      vertical-align: middle;
    }

    .footer-icons{
      text-align: right;

      img{
        width: 15px;
        height: 15px;
        cursor: pointer;
      }

      .footer-icon-delete{
        margin-left: 10px;
      }

    }
  }
}
