:root{
  --light-mode-dark-green: #023a1c;
  --light-mode-light-green: #69a614;
  --light-mode-input-backgroud: #f4f8f7;
  --light-mode-gray-text: #999e9d;
}

html, body{
  margin: 0;
  padding: 0;
}
