.darkmode{
  .welcome{
    .welcome-content{
      background-color: var(--dark-mode-background)!important;
      .welcome-container-white{
        background-color: var(--dark-mode-background)!important;
        color: white!important;
        h2{
          color: var(--button-dark-green)!important;
        }
      }

      .welcome-container-green{

      }

    }
  }
  .map{
    .map-filter{
      .map-filter-arrow{
        background-color: var(--dark-mode-background)!important;
      }

      .map-filter-content{
        background-color: var(--dark-mode-background)!important;
        color: var(--dark-mode-white-color-text)
      }

      .map-filter-show{
        background-color: var(--dark-mode-background);
        border-right: 1px solid var(--dark-mode-border-color);
      }

      .location-search-input{
        border: 1px solid var(--dark-mode-border-color)!important;
        background-color: var(--dark-mode-input-background)!important;
        color: var(--dark-mode-white-color-text)!important;
      }

      .dropdown-container{
        .dropdown-container-loading{
          background-color: var(--dark-mode-input-background)!important;
          border: var(--dark-mode-border-color)!important;
        }
        .suggestion-item--active{
          background-color: var(--dark-mode-border-color)!important;
          border-right: 1px solid var(--dark-mode-border-color)!important;
          border-left: 1px solid var(--dark-mode-border-color)!important;
        }
        .suggestion-item{
          background-color: var(--dark-mode-input-background)!important;
          border-right: 1px solid var(--dark-mode-border-color)!important;
          border-left: 1px solid var(--dark-mode-border-color)!important;
        }
        .suggestion-item.item0, .suggestion-item--active.item0 {
          border-top: 1px solid var(--dark-mode-border-color)!important;
        }
        .suggestion-item.item4, .suggestion-item--active.item4 {
          border-bottom: 1px solid var(--dark-mode-border-color) !important;
        }
      }

      .custom-select{
        .css-159vma-control{
          background-color: var(--dark-mode-input-background)!important;
          border: 1px solid var(--dark-mode-border-color)!important;
        }
        .css-urbfun-control{
          background-color: var(--dark-mode-input-background)!important;
          border: 1px solid var(--dark-mode-green)!important;
        }
        .css-26l3qy-menu{
          background-color: var(--dark-mode-input-background)!important;
        }
      }

      .MuiSlider-thumb {
        background-color: var(--dark-mode-border-color)!important;
      }

      button{
        box-shadow: none!important;
      }
    }
    .map-quest-detail{
      background-color: var(--dark-mode-background)!important;
      border-left: 1px solid var(--dark-mode-border-color)!important;


      .quest-detail-content{
        color: var(--dark-mode-white-color-text)!important;
      }
      button{
        box-shadow: none!important;
      }
    }
  }
  .navigation{
    background-color: var(--dark-mode-background)!important;
    border-bottom: 1px solid var(--dark-mode-border-color)!important;
    .navigation-profile{
      button{
        box-shadow: none;
      }
    }
    .navigation-links{
      a{
        color: var(--dark-mode-white-color-text)!important;
      }
      a:hover{
        color: var(--dark-mode-green)!important;
      }
    }
    .navigation-roll{
      background-color: var(--dark-mode-input-background)!important;
      border: 1px solid var(--dark-mode-border-color)!important;
      .navigation-triangle{
        border-bottom: 15px solid var(--dark-mode-border-color);
      }

     .navigation-roll-item{
       background-color: var(--dark-mode-input-background)!important;
      }

      .navigation-roll-item:hover{
        background-color: var(--dark-mode-border-color)!important;
        color: var(--dark-mode-green)!important;
      }
      .navigation-roll-item-title:hover{
        color: var(--dark-mode-green)!important;
      }
      .navigation-roll-item.logout{
        border-bottom: none!important;
      }
      .navigation-roll-item{
        border-bottom: 1px solid var(--dark-mode-border-color)!important;
        color: var(--dark-mode-white-color-text)!important;
      }
    }
    .invitations-roll{
      background-color: var(--dark-mode-input-background)!important;
      border: 1px solid var(--dark-mode-border-color)!important;
      .navigation-triangle{
        border-bottom: 15px solid var(--dark-mode-border-color)!important;
      }
      .roll-item {
        border-bottom: 1px solid var(--dark-mode-border-color)!important;
      }
      .item-text{
        color: var(--dark-mode-white-color-text)!important;
        a{
          color: var(--dark-mode-green)!important;
        }
      }
      button, .decline{
        box-shadow: none;
      }
    }
    .notifications-roll{
      background-color: var(--dark-mode-input-background)!important;
      border: 1px solid var(--dark-mode-border-color)!important;
      .navigation-triangle{
        border-bottom: 15px solid var(--dark-mode-border-color)!important;
      }
      .roll-item {
        border-bottom: 1px solid var(--dark-mode-border-color)!important;
        .item-text{
          color: var(--dark-mode-white-color-text)!important;
          a{
            color: var(--dark-mode-green)!important;
          }
        }
      }
    }
  }
  .ranking {

    .loading{
      border-bottom: 1px solid var(--dark-mode-border-color);
    }
    .raking-list{
      background-color: var(--dark-mode-background)!important;
    }

    .ranking-list-title{
      background-color: var(--dark-mode-input-background)!important;
      border: 1px solid var(--dark-mode-border-color)!important;
      h2{
        color: var(--dark-mode-green)!important;
      }
    }
    .ranking-list-table{
      background-color: var(--dark-mode-input-background)!important;
      border-left: 1px solid var(--dark-mode-border-color)!important;
      border-right: 1px solid var(--dark-mode-border-color)!important;
      .raking-item{
        border-bottom: 1px solid var(--dark-mode-border-color)!important;
        color: var(--dark-mode-white-color-text)!important;

        .ranking-item-nickname-text{
          color: var(--dark-mode-white-color-text)!important;
        }
        .ranking-item-rank{
          color: var(--dark-mode-green)!important;
        }

      }
      .raking-item:hover{
        background: var(--dark-mode-border-color)!important;
      }
    }
    .ranking-list-user-gap{
      background-image: url("assets/images/darkModeImages/verticalDots.svg")!important;
    }
    .ranking-list-empty{
      border-bottom: 1px solid var(--dark-mode-border-color);
      .ranking-list-empty-title{
        color: var(--dark-mode-white-color-text)!important;
      }
    }
  }
  .groups{
    .groups-list{
      background-color: var(--dark-mode-background)!important;
      .pagination{
        .Mui-selected{
          background-color: var(--dark-mode-green)!important;
        }
        button{
          color: var(--dark-mode-white-color-text)!important;
        }
      }
      .group-list-table{
        .item-add{

        }
        .add-title{
          h2{
            color: var(--dark-mode-green)!important;
          }
        }
        .container-title{
          background-color: var(--dark-mode-input-background)!important;
          border: 1px solid var(--dark-mode-border-color)!important;
          h2{
            color: var(--dark-mode-green)!important;
          }
        }
        .content-item:hover{
          background-color: var(--dark-mode-border-color)!important;
        }

        .content-item{
          background-color: var(--dark-mode-input-background)!important;
          border-right: 1px solid var(--dark-mode-border-color)!important;
          border-left: 1px solid var(--dark-mode-border-color)!important;
          border-bottom: 1px solid var(--dark-mode-border-color)!important;

          .item-name{
            a{
              color: var(--dark-mode-white-color-text)!important;
            }

          }
          .item-buttons, .item-buttons-entered{
            border-left: 1px solid var(--dark-mode-border-color)!important;
          }
        }
      }


      .group-list-empty{
        color: var(--dark-mode-white-color-text)!important;
        background: var(--dark-mode-input-background)!important;
        border-bottom: 1px solid var(--dark-mode-border-color)!important;
        border-left: 1px solid var(--dark-mode-border-color)!important;
        border-right: 1px solid var(--dark-mode-border-color)!important;
      }

    }

  }
  .user-quest{
    .pagination{
      .Mui-selected{
        background-color: var(--dark-mode-green)!important;
      }
      button{
        color: var(--dark-mode-white-color-text)!important;
      }
    }
    .user-quest-list{
      background-color: var(--dark-mode-background)!important;
      .user-quest-created {
        .container-title{
          background-color: var(--dark-mode-input-background)!important;
          border: 1px solid var(--dark-mode-border-color)!important;
          h2{
            color: var(--dark-mode-green)!important;
          }
        }
        .user-quest-created-container{
          .container-title{
            border-left: 1px solid var(--dark-mode-border-color)!important;
            border-right: 1px solid var(--dark-mode-border-color)!important;
          }
          .container-table{
            border-left: 1px solid var(--dark-mode-border-color)!important;
            border-right: 1px solid var(--dark-mode-border-color)!important;
          }

          .container-table-item:hover{
            background-color: var(--dark-mode-border-color) !important;
          }
          .container-table-item{
            border-bottom: 1px solid var(--dark-mode-border-color) !important;
            background-color: var(--dark-mode-input-background) !important;
            .item-quest-buttons {
              border-left: 1px solid var(--dark-mode-border-color) !important;
            }
            .item-category-image {
              border-right: 1px solid var(--dark-mode-border-color) !important;
            }
            .item-quest-name{
              color: var(--dark-mode-white-color-text)!important;
              a{
                color: var(--dark-mode-white-color-text)!important;
              }
            }
          }

        }
      }
      .user-quest-active{
            .container-title{
              background-color: var(--dark-mode-input-background)!important;
              border: 1px solid var(--dark-mode-border-color)!important;
              h2{
                color: var(--dark-mode-green)!important;
              }
            }
            .user-quest-active-container{
              .container-button{
                border-bottom: 1px solid var(--dark-mode-border-color)!important;
                border-right: 1px solid var(--dark-mode-border-color)!important;
                border-left: 1px solid var(--dark-mode-border-color)!important;
                background-color: var(--dark-mode-input-background)!important;
                button{
                  box-shadow: none!important;
                }
              }
            }
            .container-table{
              border-left: 1px solid var(--dark-mode-border-color)!important;
              border-right: 1px solid var(--dark-mode-border-color)!important;
            }
            .container-table-item{
              background-color: var(--dark-mode-input-background)!important;
              color: var(--dark-mode-white-color-text)!important;
              a{
                color: var(--dark-mode-white-color-text)!important;
              }
              border-bottom: 1px solid var(--dark-mode-border-color)!important;
            }
            .item-category-name{
              border-right: 1px solid var(--dark-mode-border-color)!important;
            }
          }
      .user-quest-played{
        .user-quest-played-container-bottom-border{
          border-top: 1px solid var(--dark-mode-border-color)!important;
        }
        .item-stage-container{
          background-color: var(--dark-mode-input-background)!important;
          color: var(--dark-mode-white-color-text)!important;
          border-right: 1px solid var(--dark-mode-border-color)!important;
          border-left: 1px solid var(--dark-mode-border-color)!important;
        }
        .container-title{
          background-color: var(--dark-mode-input-background)!important;
          border-top: 1px solid var(--dark-mode-border-color)!important;
          border-left: 1px solid var(--dark-mode-border-color)!important;
          border-right: 1px solid var(--dark-mode-border-color)!important;
          border-bottom: none!important;
          h2{
            color: var(--dark-mode-green)!important;
          }
        }

        .container-table{
          background-color: var(--dark-mode-input-background)!important;

          .container-table-item:hover{
           background-color: var(--dark-mode-border-color)!important;
          }

          .container-table-item{
            border-top: 1px solid var(--dark-mode-border-color)!important;
            border-right: 1px solid var(--dark-mode-border-color)!important;
            color: var(--dark-mode-white-color-text)!important;
            a{
              color: var(--dark-mode-white-color-text)!important;
            }

            .item-category-image{
              border-bottom: 1px solid var(--dark-mode-border-color)!important;
              border-left: 1px solid var(--dark-mode-border-color)!important;
            }

          }
        }


      }
    }
    .user-quest-empty{
      border-bottom: 1px solid var(--dark-mode-border-color);
      border-left: 1px solid var(--dark-mode-border-color);
      border-right: 1px solid var(--dark-mode-border-color);
      background: var(--dark-mode-input-background);
    }
    .container-title{
      background: var(--dark-mode-input-background)!important;
      border-top: 1px solid var(--dark-mode-border-color)!important;
      border-bottom: 1px solid var(--dark-mode-border-color)!important;
      h2{
        color: var(--dark-mode-green)!important;
      }
    }
    .user-quest-empty-title{
      color: var(--dark-mode-white-color-text)!important;
    }

  }
  .premium{
    .premium-content{
      background-color: var(--dark-mode-background)!important;
    }
    background-color: var(--dark-mode-background)!important;
    .oblique-image{
      background-color: var(--dark-mode-background)!important;
    }
    .premium-container-white{
      background-color: var(--dark-mode-background)!important;
      color: white!important;
      h2{
        color: var(--button-dark-green)!important;
      }
    }


  }
  .daily-quest{
    .daily-quest-content{
      background-color: var(--dark-mode-background)!important;
    }
    .daily-quest-map-container{
      background-color: var(--dark-mode-background)!important;
    }
    h2, .countdown{
      color: var(--dark-mode-green)!important;
    }

    .info-description, h3{
      color: var(--dark-mode-white-color-text)!important;
    }

  }
  .settings{
    background-color: var(--dark-mode-background)!important;
    .settings-list {
      background: var(--dark-mode-input-background) !important;
      border-top: 1px solid var(--dark-mode-border-color) !important;

      .list-header {
        border-left: 1px solid var(--dark-mode-border-color) !important;
        border-bottom: 1px solid var(--dark-mode-border-color) !important;
      }

      .list-header-item {
        border-right: 1px solid var(--dark-mode-border-color) !important;
        color: var(--dark-mode-white-color-text) !important;
      }

      .list-header-item:hover {
        background: var(--dark-mode-border-color) !important;
      }

      .selected {
        color: var(--dark-mode-green) !important;
      }

      .settings-label {
        color: var(--dark-mode-white-color-text) !important;
      }

      .settings-profile, .settings-password, .settings-appearance {
        border-left: 1px solid var(--dark-mode-border-color);
        border-right: 1px solid var(--dark-mode-border-color);
        border-bottom: 1px solid var(--dark-mode-border-color);
      }

      .settings-profile{
        button, .input-wrapper{
          box-shadow: none!important;
        }
        .settings-about{
          textarea{
            background-color: var(--dark-mode-input-background);
            border: 1px solid var(--dark-mode-border-color);
            color: var(--dark-mode-white-color-text);
          }
        }

        .emoji-triangle{
          border-bottom: 15px solid var(--dark-mode-border-color);
        }

        .customSelect {
          .css-17vgs4h-control{
            background-color: var(--dark-mode-input-background)!important;
            border: 1px solid var(--dark-mode-border-color)!important;
          }
          .css-1uccc91-singleValue{
            color: var(--dark-mode-white-color-text)!important;
          }
          .css-1m1wrg0-control{
            background-color: var(--dark-mode-input-background)!important;
            border: 1px solid var(--dark-mode-green)!important;

          }
          .css-26l3qy-menu{
            background-color: var(--dark-mode-input-background)!important;
            color: var(--dark-mode-white-color-text)!important;
          }
        }
      }
      .settings-password{
        .input-field-password{
          background-image: url("assets/images/darkModeImages/password.svg");
        }
        input{
          background-color: var(--dark-mode-input-background)!important;
          border: 1px solid var(--dark-mode-border-color)!important;
          color: var(--dark-mode-white-color-text)!important;
        }
        input::placeholder{
          color: var(--dark-mode-white-color-text)!important;
        }

        input:focus::placeholder{
          color: var(--dark-mode-green)!important;
        }
        button{
          box-shadow: none!important;
        }
      }
      .settings-appearance {
        .selected {
          border: 1px solid var(--dark-mode-green) !important;
          background: var(--dark-mode-border-color);
        }

        .item-name {
          color: var(--dark-mode-white-color-text) !important;
        }
      }

    }
  }
  .profile{
    .profile-quest-container, .profile-list-container{
      background-color: var(--dark-mode-background)!important;
    }
    .loading-image{
      border-bottom: 1px solid var(--dark-mode-border-color)!important;
    }
    .list-item{
      background-color: var(--dark-mode-input-background)!important;
      border: 1px solid var(--dark-mode-border-color)!important;
      color: var(--dark-mode-white-color-text)!important;
    }
    .profile-list{
      background-color: var(--dark-mode-input-background)!important;
      border-top: 1px solid var(--dark-mode-border-color)!important;
      border-left: 1px solid var(--dark-mode-border-color)!important;
      border-right: 1px solid var(--dark-mode-border-color)!important;

      .about-title, .heat-map-title{
        color: var(--dark-mode-green)!important;
      }
      .about-text{
        color: var(--dark-mode-white-color-text)!important;
      }

    }
    .profile-quest{
      border-left: 1px solid var(--dark-mode-border-color) !important;
      border-right: 1px solid var(--dark-mode-border-color)!important;
      border-bottom: 1px solid var(--dark-mode-border-color) !important;
      background-color: var(--dark-mode-input-background)!important;
      .selected{
        box-shadow: none!important;
      }
      .item-name{
        color: var(--dark-mode-white-color-text)!important;
      }
      .profile-quest-item{
        border: 1px solid var(--dark-mode-border-color)!important;
      }
      .open{
        border-top: 1px solid var(--dark-mode-border-color)!important;
      }
      .item-footer{
        border-top: 1px solid var(--dark-mode-border-color)!important;
      }
      .user-name, .stage-item-name, .title-name{
        color: var(--dark-mode-white-color-text)!important;
        a{
          color: var(--dark-mode-white-color-text)!important;
        }
      }
      .stage-item{
        border: 1px solid var(--dark-mode-border-color)!important;
      }
      .pagination{
        .Mui-selected{
          background-color: var(--dark-mode-green)!important;
        }
        button{
          color: var(--dark-mode-white-color-text)!important;
        }
      }
    }
    .no-data{
      .title{
        color: var(--dark-mode-green)!important;
      }
    }
  }
  .quest{
    .quest-container-content{
      background-color: var(--dark-mode-background);
    }
    .premium{
      background-color: transparent!important;
    }
    .quest-detail-content{
      border-top: 1px solid var(--dark-mode-border-color);
      border-left: 1px solid var(--dark-mode-border-color);
      border-right: 1px solid var(--dark-mode-border-color);
      background-color: var(--dark-mode-input-background);
    }
    .details-title{
      color: var(--dark-mode-green)!important;
      border-top: 1px solid var(--dark-mode-border-color);
    }
    .quest-details-title{
      color: var(--dark-mode-green)!important;
    }
    .quest-details-description, .quest-detail-graph-label{
      color: var(--dark-mode-white-color-text)!important;
    }
    .quest-private{
      background-color: var(--dark-mode-input-background);
      border-bottom: 1px solid var(--dark-mode-border-color);
      .quest-private-title{
        background-color: var(--dark-mode-input-background);
        border-bottom: 1px solid var(--dark-mode-border-color-backgroud);
        h2{
          color: var(--dark-mode-green)!important;
        }
      }
    }
    .quest-stages-item{
      border: 1px solid var(--dark-mode-border-color)!important;
      .item-name{
        color: var(--dark-mode-white-color-text)!important;
      }
    }
    .quest-gallery{
      border-left: 1px solid var(--dark-mode-border-color);
      border-right: 1px solid var(--dark-mode-border-color);
      background-color: var(--dark-mode-input-background);
    }
    .map-ref{
      border-left: 1px solid var(--dark-mode-border-color);
      border-right: 1px solid var(--dark-mode-border-color);
    }
    .quest-button{
      border-left: 1px solid var(--dark-mode-border-color);
      border-right: 1px solid var(--dark-mode-border-color);
      background-color: var(--dark-mode-input-background);
      button{
        box-shadow: none;
      }
    }
    .quest-review-form{
      border-left: 1px solid var(--dark-mode-border-color);
      border-right: 1px solid var(--dark-mode-border-color);
      background-color: var(--dark-mode-input-background);
    }
    .emoji-triangle{
      border-bottom: 15px solid var(--dark-mode-border-color);
    }
    .quest-reviews-list{
      background-color: var(--dark-mode-input-background);
      border-right: 1px solid var(--dark-mode-border-color);
      border-left: 1px solid var(--dark-mode-border-color);
      .quest-reviews-list-title{
        border-top: 1px solid var(--dark-mode-border-color);
        color: var(--dark-mode-green);
      }
      .quest-review-item{
        border: 1px solid var(--dark-mode-border-color);
      }
      .header-user-name, .quest-review-text{
        color: var(--dark-mode-white-color-text);
      }
    }
    .pagination{
      .Mui-selected{
        background-color: var(--dark-mode-green)!important;
      }
      button{
        color: var(--dark-mode-white-color-text)!important;
      }
    }
  }
  .group{
    background-color: var(--dark-mode-background);
    .user-list-item{
      border: 1px solid var(--dark-mode-border-color)!important;
      background-color: var(--dark-mode-input-background)!important;
      a{
        color: var(--dark-mode-white-color-text)!important;
      }
    }
    .group-no-quest{
      background-color: var(--dark-mode-input-background);
      .title{
        color: var(--dark-mode-white-color-text);
      }
    }
    .group-content{
      background-color: var(--dark-mode-input-background);
      border: 1px solid var(--dark-mode-border-color);
      .quest-list-item:hover{
        background: var(--dark-mode-border-color);
      }
      .quest-list-item{
        border-bottom: 1px solid var(--dark-mode-border-color);
        .quest-name{
          color: var(--dark-mode-white-color-text);
        }
      }
    }
    .group-quest-detail{
      border-left: 1px solid var(--dark-mode-border-color);
      .quest-detail-title{
        a{
          color: var(--dark-mode-green);
        }
      }
      .quest-detail-desc-title{
        color: var(--dark-mode-green);
      }
      .quest-detail-desc{
        color: var(--dark-mode-white-color-text);
      }
      .quest-detail-stages-title{
        border-top: 1px solid var(--dark-mode-border-color);
        color: var(--dark-mode-green);
      }
      .stage-item:hover{
        background: var(--dark-mode-border-color);
      }
      .stage-item{
        border-bottom: 1px solid var(--dark-mode-border-color);
        .item-name, {
          color: var(--dark-mode-white-color-text);
        }
      }
      .stage-user-item{
        border-bottom: 1px solid var(--dark-mode-border-color);
        .stage-user{
          .user-name{
            a{
              color: var(--dark-mode-white-color-text)!important;
            }

          }
        }
      }
      .quest-detail-button{
        button{
          box-shadow: none!important;
        }
      }
    }
  }
  .sign-in{
    .sign-in-form-title{
      color: var(--dark-mode-green);
    }
    .form-title{
      color: var(--dark-mode-white-color-text);
    }
    .form-input input{
      background-color: var(--dark-mode-input-background);
      border: 1px solid var(--dark-mode-border-color);
      color: var(--dark-mode-white-color-text);
    }
    input::placeholder{
      color: var(--dark-mode-white-color-text);
    }
    input:focus::placeholder{
      color: var(--dark-mode-green);

    }
    .input-field-password{
      background-image: url("assets/images/darkModeImages/password.svg");
    }
    .input-field-email{
      background-image: url("assets/images/darkModeImages/email.svg");
    }
    .form-forgot{
      color: var(--dark-mode-white-color-text);
    }
    .sign-up-link-text{
      border-bottom: 1px solid var(--dark-mode-border-color);
    }
    .form-button-signin{
      box-shadow: none;
    }
    .forgot{
      border-bottom: 1px solid var(--dark-mode-border-color);
    }

    .sign-in-background{
      background-image: url("assets/images/darkModeImages/waveRight.svg");
    }

  }
  .content{
    background-color: var(--dark-mode-background)!important;
  }
}

@media only screen and (max-width: 1100px) {
  .darkmode{
    .navigation-links-link{
      border-top: 1px solid var(--dark-mode-border-color)!important;
      background-color: var(--dark-mode-input-background)!important;

      a {
        border-bottom: 1px solid var(--dark-mode-border-color)!important;
      }
      a:hover{
        background-color: var(--dark-mode-border-color)!important;
        color: var(--dark-mode-green)!important;
      }
    }

    .ranking{
      .raking-list{
        .ranking-list-title{
          border-left: none!important;
          border-right: none!important;
        }
        .ranking-list-table{
          border: none!important;
        }
      }
    }


  }

}
