.groups-list{
  width: 100%;
  top: 540px;
  padding-bottom: 20px;
  position: absolute;

  .group-list-table{
    width: 100%;

    .group-list-container{
      width: 100%;
      margin-bottom: 50px;

      .pagination{
        padding-top: 20px;
        text-align: center;
        display: flex;
        margin-right: auto;
        margin-left: auto;
      }

      .container-title{
        background: white;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid var(--light-mode-input-backgroud);
        h2{
          margin-bottom: 0;
          padding-bottom: 29px;
          font-family: Nexa;
          font-weight: bold;
          font-size: 35px;
          padding-left: 20px;
          letter-spacing: 0.8px;
          text-align: left;
          color: var(--light-mode-dark-green)
        }
      }

      .container-content{
        background: white;
        width: 60%;
        margin-left: auto;
        margin-right: auto;

        .content-item{
          border-right: 1px solid var(--light-mode-input-backgroud);
          border-left: 1px solid var(--light-mode-input-backgroud);
          border-bottom: 1px solid var(--light-mode-input-backgroud);
          display: table;
          width: 100%;
          height: 70px;

          .item-name{
            display: table-cell;
            padding-left: 30px;
            padding-right: 30px;
            vertical-align: middle;
            font-family: OpenSans;
            color: black;
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.8px;
            text-align: left;
            white-space: nowrap;
            a{
              cursor: pointer;
              text-decoration: none;
              color: black
            }
          }
          .item-date{
            padding-right: 20px;
            text-align: right;
            display: table-cell;
            vertical-align: middle;
            font-family: Nexa;
            color: var(--light-mode-gray-text);
            font-size: 12px;
          }
          .item-buttons{
            width: 80px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: right;
            vertical-align: middle;
            display: table-cell;
            border-left: 1px solid var(--light-mode-input-backgroud);

            img{
              padding: 5px;
              cursor: pointer;
              width: 15px;
              height: 15px;
            }
          }
          .item-add{
            padding-top: 8px;
            text-align: center;
            .add-image{
              cursor: pointer;
              display: inline-block;
              vertical-align: middle;
              img{
                padding-right: 7px;
                float: right;
                width: 20px;
                height: 20px;
              }
            }
            .add-title{
              cursor: pointer;
              display: inline-block;
              vertical-align: middle;
              h2{
                font-family: Nexa;
                font-weight: bold;
                font-size: 20px;
                letter-spacing: 0.8px;
                text-align: left;
                color: var(--light-mode-dark-green)
              }
            }
          }

        }
        .content-item:hover{
          background: var(--light-mode-input-backgroud);
        }
      }
    }
  }
}
