@media only screen and (max-width: 1100px) {
  .groups-list {
    top: 547px;

    .group-list-container{
      margin-bottom: 30px!important;
    }

    .container-title{
      width: 100%!important;
      border-left: none!important;
      border-right: none!important;
      h2{
        font-size: 30px!important;
        text-align: center!important;
      }
    }

    .container-content{
      width: 100%!important;

      .content-item {
        border-left: none !important;
        border-right: none !important;
        width: 100%!important;


        .item-info{
          width: calc(100% - 80px);
          max-width: calc(100% - 80px)!important;
        }

        .item-name {
          min-width: calc(100% - 40px);
          max-width: calc(100% - 40px);
          display: block!important;
          padding-top: 10px!important;
          padding-left: 10px!important;
          height: 32px!important;
        }

        .item-date {
          width: calc(100% - 20px);
          display: block!important;
          padding-bottom: 3px;
          height: 15px!important;
        }

        .item-buttons-entered{
          width: 15px!important;
        }

        .item-buttons {
          min-width: 80px;
          width: 80px!important;
          display: table-cell !important;
        }
      }
    }

    .group-list-empty{
      border-left: none;
      font-size: 15px!important;
      border-right: none;
    }
  }
}
