.map-quest-detail.hidden{
  max-width: 0!important;
  overflow: hidden;
  border: none;

  .quest-detail-content{
    display: none;
  }
}

.map-quest-detail{
  position: absolute;
  height: calc(100% - 112px);
  transition: max-width 0.2s ease-out;
  overflow: hidden;
  right: 0;
  width: 30vw;
  max-width: 30vw;
  top: 111px;
  z-index: 1;
  background: white;
  border-left: 1px solid var(--light-mode-input-backgroud);

  .quest-detail-content{
    padding-bottom: 50px;

    .quest-detail-header{
      padding-top: 10px;
      background-color: var(--background-light-green);
      background-image: url("../../assets/images/waveRight/backgroundTopRight.svg");
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: contain;

      .quest-detail-exit{
        width: 30%;
        text-align: right;
        display: table-cell;
        vertical-align: top;

        button{
          background: none;
          font-family: Nexa;
          font-weight: bold;
          font-size: 18px;
          border: none;
          margin-right: 10px;
          cursor: pointer;
        }
      }

      .quest-detail-category{
        width: 100%;
        display: table-cell;

        .quest-detail-category-image{
            display: table-cell;
          img{
            margin-left: 20px;
            width: 70px;
            height: 70px;
          }
        }
        .quest-detail-category-name{
          padding-left: 20px;
          display: table-cell;
          vertical-align: middle;
          font-family: Nexa;
          font-weight: bold;
          font-size: 25px;
          color: var(--light-mode-dark-green)

        }

      }

      .quest-detail-title{
        margin-right: 2%;
        margin-left: 2%;
        padding-bottom: 50px;
        padding-top: 30px;
        overflow: hidden;
        height: auto;
        text-overflow: ellipsis;
        text-align: center;
        width: 96%;
        font-family: Nexa;
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 1.8px;
        color: var(--light-mode-dark-green)
      }
    }

    .quest-detail-header-bottom{
      width: 100%;
      display: block;

      img{
        display: block;
        width: 101%;
      }

    }

    .quest-detail-description{
      padding-top: 15px;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
      font-family: OpenSansText;
      font-size: 15px;
    }

    .quest-detail-graph{
      display: table;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 50px;
      text-align: center;
      margin-right: auto;
      margin-left: auto;

      .quest-detail-graph-label{
        text-align: center;
        font-family: OpenSans;
        font-size: 13px;
        margin-bottom: 10px;
      }

      .quest-detail-graph-difficulty{
        width: 33%;
        display: table-cell;

        canvas{
          margin-left: auto;
          margin-right: auto;
          width: 96%;
          max-height: 70px;
          max-width: 140px;
        }
      }
      .quest-detail-graph-review{
        width: 33%;
        display: table-cell;

        canvas{
          margin-left: auto;
          margin-right: auto;
          width: 96%;
          max-height: 70px;
          max-width: 140px;
        }
      }
      .quest-detail-graph-success{
        width: 33%;
        text-align: center;
        display: table-cell;

        canvas{
          margin-left: auto;
          margin-right: auto;
          width: 96%;
          max-height: 70px;
          max-width: 140px;
        }
      }
    }

    .quest-detail-button{
      text-align: center;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;


      button {
        font-size: 16px;
        text-decoration: none;
        letter-spacing: 2px;
        border-radius: 50px;
        padding: 8px 12%;
        border: none;
        cursor: pointer;
        color: white;
        font-family: OpenSans;
        font-weight: normal;
        background-size: 300% 100%;
        background-image: linear-gradient(to right, var(--button-light-green), var(--button-dark-green), var(--button-dark-green), var(--button-light-green));
        box-shadow: 0 4px 15px 0 rgba(49, 196, 149, 0.75);
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }

      button:hover {
        background-position: 100% 0;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }
    }
  }
}

