.map{
  height: 100%;
  min-height: 945px;
  position: absolute;
  top: 0;
  width: 100%;
}

.map-view{
  width: 100%;
  height: 100%;
  display: table;

  .gmnoprint, .gm-style-cc, .gm-control-active, .gm-fullscreen-control {
    display: none;
  }

}

.map-button{
  position: absolute;
  bottom: 50px;
  right: 50px;

  .map-button-button{
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--button-light-green);
    text-align: center;
    vertical-align: center;
    border: none;
    cursor: pointer;

    .map-button-button-image{
      width: 23px;
      height: 23px;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
