@media only screen and (max-width: 1100px) {

  .map{
    min-height: 100%!important;
  }

  .map-filter-content.hidden {
    width: 0!important;
  }

  .map-filter{
    top: 80px;
    height: calc(100% - 80px);

    .map-filter-arrow{
      padding-right: 20px;
      min-width: 20px;
    }

    .map-filter-content{
      width: 100%;
    }
  }

  .map-quest-detail{
    top: 80px;
    width: 100%;
    max-width: 100%;
    z-index: 101;
    height: calc(100% - 80px);
    overflow-y: scroll;
  }

  .map-button {
    bottom: 30px;
    right: 30px;

    .map-button-button {
      height: 35px !important;
      width: 35px !important;

      .map-button-button-image {
        width: 17px !important;
        height: 17px !important;
      }
    }
  }

}
