.adminQuestEdit{
  display: block;
  width: 100%;
  height: 100%;

  .adminQuestEditContainer{
    display: inline-block;
    vertical-align: top;
    width: 80%;
    height: max-content;

    margin-left: -1px;
    border-left: 1px solid var(--light-mode-input-backgroud);

    .title{
      font-family: Nexa;
      font-weight: bold;
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;
      color: var(--light-mode-dark-green);

      padding-top: 50px;
      padding-left: 30px;
      padding-right: 30px;

      word-break: break-all;
    }

    .adminQuestDetails{
      .form {
        width: 60%;
        height: 100%;
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;

        .formItem{
          width: 100%;
          margin-top: 20px;

          .itemLabel{
            text-align: left;
            font-family: OpenSans;
            font-size: 13px;
            color: var(--light-mode-gray-text);

            padding-bottom: 5px;
          }
          .itemContent{
            width: 100%;

            font-family: OpenSans;
            font-size: 14px;

            .customSelect{
              .css-26l3qy-menu{
                font-family:OpenSans;
              }
            }

            a{
              text-decoration: none;
              color: black;
              font-family: OpenSans;
              font-size: 14px;
              cursor: pointer;
            }

            input{
              width: 100%;
              border: none;
              background-color: var(--light-mode-input-backgroud);

              padding: 15px;

              font-family: OpenSans;
              font-size: 15px;
            }
            input:focus::placeholder{
              color: var(--light-mode-dark-green);
            }

            textarea{
              width: 100%;
              border: none;
              background-color: var(--light-mode-input-backgroud);
              font-family: OpenSans;
              font-size: 15px;
              overflow-y: hidden;
              resize: vertical;
              padding: 15px;
              min-height: 60px;
            }
            textarea:focus::placeholder{
              color: var(--light-mode-dark-green);
            }
          }
        }
        .formButton{
          width: 100%;
          text-align: center;
          padding-top: 30px;
          padding-bottom: 30px;

          button{
            font-size: 15px;
            text-decoration: none;
            letter-spacing: 2px;
            border-radius: 50px;
            padding: 8px 30px;
            border: none;
            cursor: pointer;
            color: white;
            font-family: OpenSans;
            background-image: linear-gradient(to right, var(--button-light-green), var(--button-dark-green), var(--button-dark-green), var(--button-light-green));
            box-shadow: 0 4px 15px 0 rgba(49, 196, 149, 0.75);
            font-weight: normal;
            background-size: 300% 100%;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
          }
          button:hover {
            background-position: 100% 0;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
          }
        }
      }
    }

    .adminQuestStageList{
      .form {
        width: 60%;
        height: 100%;
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;

        .stage{
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          height: 50px;
          margin-top: 30px;

          display: table;
          position: relative;

          border: 1px solid var(--light-mode-input-backgroud);

          .stage-id{
            display: table-cell;
            vertical-align: middle;
            padding-left: 10px;
            padding-right: 10px;

            font-family: OpenSans;
            color: var(--light-mode-dark-green);
            font-size: 14px;
          }
          .stage-image{
            display: table-cell;
            vertical-align: middle;
            width: 40px;
            img{
              vertical-align: middle;
              width: 30px;
              height: 30px;
            }

          }
          .stage-name{
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            padding-left: 15px;

            font-size: 14px;
            font-family: OpenSans;
          }
          .stage-roll{
            display: table-cell;
            vertical-align: middle;
            width: 15px;

            padding-right: 10px!important;
            img{
              cursor: pointer;
              width: 15px;
              height: 15px;
            }
          }
        }
        .stage-items{
          margin-right: auto;
          margin-left: auto;
          padding-top: 15px;
          width: 100%;
          padding-bottom: 15px;
          border-left: 1px solid var(--light-mode-input-backgroud);
          border-right: 1px solid var(--light-mode-input-backgroud);
          border-bottom: 1px solid var(--light-mode-input-backgroud);

          input{
            width: calc(100% - 30px);
            border: none;
            background-color: var(--light-mode-input-backgroud);

            padding: 15px;

            font-family: OpenSans;
            font-size: 15px;
          }
          input:focus::placeholder{
            color: var(--light-mode-dark-green);
          }

          .qr-code{
            text-align: center;
            img{
              width: 70%;
              max-width: 300px;
            }
          }
          .label{
            display: block;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            font-family: OpenSans;
            font-size: 13px;
            padding-left: 5px;
            padding-bottom: 5px;
            color: var(--light-mode-gray-text);

            img{
              padding-left: 7px;
              width: 13px;
              height: 13px;
            }
          }
          .answer-list{
            width: 100%;

            .correct{
              border: 1px solid var(--button-light-green)!important;
            }
            .answer-item{
              min-height: 22px;
              margin-top: 7px;
              padding-top: 5px;
              padding-bottom: 5px;
              border-radius: 10px;
              border: 1px solid var(--light-mode-input-backgroud);
              .name{
                padding-right: 5px;
                padding-left: 15px;
                vertical-align: middle;
                display: table-cell;
                font-family: OpenSans;
                font-size: 16px;
                text-align: left;
                width: 100%;
              }
            }
          }
        }
      }
    }

    .adminQuestPlayedInput{
      .input{
        padding-top: 50px;
        text-align: center;

        input{
          width: 50%;
          border: none;
          background-color: var(--light-mode-input-backgroud);

          padding: 15px;

          font-family: OpenSans;
          font-size: 15px;
        }
        input:focus::placeholder{
          color: var(--light-mode-dark-green);
        }
      }
    }

    .adminQuestPlayedList{
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      margin-top: 50px;
      margin-bottom: 50px;

      border-top: 1px solid var(--light-mode-input-backgroud);
      border-left: 1px solid var(--light-mode-input-backgroud);
      border-right: 1px solid var(--light-mode-input-backgroud);

      .header{
        width: 100%;
        height: 50px;
        display: table;

        font-family: Nexa;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
        color: var(--light-mode-dark-green);

        .id{
          display: table-cell;
          vertical-align: middle;
          min-width: 80px;
          padding-left: 15px;
        }
        .stage{
          display: table-cell;
          vertical-align: middle;
          min-width: 80px;
        }
        .user{
          display: table-cell;
          vertical-align: middle;
          width: 100%;
        }

        .status{
          padding-right: 15px;
          display: table-cell;
          vertical-align: middle;
          width: 20px;
        }
      }
    }

    .adminQuestPlayedItem{
      width: 100%;
      height: 60px;
      display: block;

      border-bottom: 1px solid var(--light-mode-input-backgroud);

      .itemData{
        width: 100%;
        height: 40px;
        display: table;

        font-family: OpenSans;
        font-size: 14px;

        .id{
          display: table-cell;
          vertical-align: middle;
          width: 80px;
          padding-left: 15px;

          color: var(--light-mode-dark-green);
        }
        .stage{
          display: table-cell;
          vertical-align: middle;
          width: 80px;

        }
        .user{
          display: table-cell;
          vertical-align: middle;

          a{
            color: black;
            cursor: pointer;
            text-decoration: none;
          }

        }
        .status{
          display: table-cell;
          vertical-align: middle;
          width: 20px;
          padding-right: 15px;

          img{
            width: 20px;
            height: 20px;
          }
        }
      }

      .itemDate{
        width: 100%;
        height: 20px;
        display: table;

        .created{
          display: table-cell;
          vertical-align: middle;
          width: 50%;
          text-align: left;
          font-family: OpenSans;
          font-size: 13px;

          padding-bottom: 5px;
          padding-left: 15px;
        }
        .updated{
          display: table-cell;
          vertical-align: middle;
          width: 50%;
          text-align: right;
          font-family: OpenSans;
          font-size: 13px;

          padding-bottom: 5px;
          padding-right: 15px;
        }
      }
    }
  }
}
