.group{
  width: 100%;

  .header{
    width: 100%;
    height: 400px;
    background-color: var(--background-light-green);
    background-size: 40%;

    .header-main{
      width: 100%;
      height: 100%;
      display: table;

      .header-title{
        padding-left: 30px;
        background-image: url("../../assets/images/waveLeft/backgroundTopLeft.svg");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 50%;
        vertical-align: middle;
        width: 55%;
        height: 400px;
        display: table-cell;

        .header-name{
          padding-top: 100px;
          width: 80%;
          margin-right: 20px;
          text-align: right;
          height: 220px;

          h2{
            font-size: 50px;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: Nexa;
            color: var(--light-mode-dark-green);
          }
        }

        .header-create-date{
          font-family: Nexa;
          font-weight: normal;
          padding-left: 20px;
          font-size: 14px;
          color: var(--light-mode-gray-text);
          letter-spacing: 0.2px;
          height: 40px;
        }
      }

      .header-user-list{
        background-image: url("../../assets/images/waveRight/backgroundBottomRight.svg");
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 70%;
        vertical-align: middle;
        width: 45%;
        display: table-cell;

        .list-left{
          padding: 10px;
          display: table-cell;
        }

        .list-right{
          padding: 10px;
          display: table-cell;
        }


        .user-list-item{
          border: 1px solid var(--light-mode-input-backgroud);
          min-width: 190px;
          margin-bottom: 10px;
          display: table;
          border-radius: 20px;
          background: white;
          padding: 10px;

          .item-image{
            width: 20px;
            display: table-cell;
            padding-right: 10px;

            img{
              vertical-align: middle;
              width: 20px;
              height: 20px;
              border-radius: 50%;
            }
          }

          .leader{
            a{
              color: var(--button-dark-green)!important;
            }
          }
          .item-name{
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
            font-family: OpenSans;
            font-size: 15px;
            display: table-cell;
            vertical-align: middle;

            img{
              width: 16px;
              padding-left: 3px;
            }

            a{
              color:black;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
